{% extends "layout_no_land.html" %}

{% block content %}
<style>
    /* Modal styles */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    .modal-content {
        background-color: #fefefe;
        margin: 15% auto; /* 15% from the top and centered */
        padding: 20px;
        border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */
        max-width: 600px;
        text-align: center;
    }

    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    /* Existing styles */
    .success-order-message {
        max-width: 600px;
        margin: 0 auto;
        padding: 20px;
        background: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    .success-order-message h1, .success-order-message h2, .success-order-message h3, .success-order-message p {
        margin: 20px 0;
    }
    .success-order-message ul {
        list-style-type: none;
        padding: 0;
    }
    .success-order-message li {
        background: #ffffff;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin: 10px 0;
        padding: 10px;
        text-align: left;
    }
    .success-order-message a {
        color: #007bff;
        text-decoration: none;
    }
    .success-order-message a:hover {
        text-decoration: underline;
    }
    .success-order-message .web3-button {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 20px 0;
        cursor: pointer;
        border-radius: 5px;
    }
    .success-order-message .web3-button:hover {
        background-color: #45a049;
    }
    .email-form {
        max-width: 600px;
        margin: 0;
        padding: 5px;
        background: #f9f9f9;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    .email-form h2, .email-form p {
        margin: 20px 0;
    }
    .email-form input[type="email"] {
        padding: 10px;
        font-size: 16px;
        margin-right: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    .email-form button {
        padding: 10px 20px;
        font-size: 16px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 5px;
    }
    .email-form button:hover {
        background-color: #0056b3;
    }
    .success-message {
        margin-top: 20px;
        color: green;
    }
</style>


<div id="web3Modal" class="modal">
    <div class="modal-content">
        <img src="/static/assets/confetti.gif" width="250">
        <span class="close">&times;</span>
        <h2>Connect Your Web3 Wallet</h2>
        <p>🪙You have earned 50 MOM tokens by making this order<br>🔌Connect your Web3 wallet in one click and redeem your prize!</p>
        <button id="walletOrGetTokensButton" class="web3-button" onclick="connectWalletAndSendTokens()">Connect Web3 Wallet &<br>Get 50 MOM tokens</button>
        <div id="response-message"></div>
        <div id="current-wallet-address" style="margin-top: 20px;"></div>
    </div>
</div>

<div class="success-order-message">
    <h1>✅ Your order in {{ restaurant_name }} has been successfully placed.</h1>
    <h2>These are your items:</h2>
    <ul>
        {% for item in items %}
            <li>
                <b>{{ item['name'] }}</b>: <b>{{ item['quantity'] }} serving(s)</b><br>
                {% if item['image_url'] %}
                <br><img src="{{ item['image_url'] }}" alt="Image of {{ item['name'] }}" width="170" height="auto">
                {% endif %}
                <hr>
                <!-- <b>{{ item['amount'] }} EUR <u>per 1 item</u></b> -->
            </li>
        {% endfor %}
        <b>Total: {{ total_paid }} EUR</b>
    </ul>
    <h3>Here is your order ID - <span style="font-size: 1.7em;"><b>{{ order_id }}</b></span>.<br>
        Please, remember this number - you will not be able to pick your order without this number.</h3>

    <hr>
    
    <h3>Alternatively, you can simply drop your email address below and we will send you the order ID on your email.</h3>
    <div class="email-form">
        <h2>Receive your Order ID</h2>
        <form id="orderIdForm">
            <input type="email" id="email" name="email" placeholder="Enter your email address" required>
            <button id="emailSubmitButton" type="submit" style="background-color: black;">Receive my Order ID</button>
        </form>
        <div id="loadingContainer" style="align-items:center;">
           <img id="loadingGif" src="/static/assets/loading-gif.gif" alt="Loading..." style="display:none;" width="70" height="auto">
        </div>
    </div>
    <div id="message"></div>

    <hr>
        <h2>Want to earn more??</h2>
        <h3>Go to <a href="/restaurant/{{ unique_azz_id }}" target="_blank" style="color: darkred;">this link.</a><br>Leave the review of your order and get extra MOM tokens.</h3>
            
    <hr>
    
    <p>You can make another order in {{ restaurant_name }} by following <a href='{{ url_for("assistant_order_chat", unique_azz_id=res_unique_azz_id) }}' target="_blank" style="color: darkred;">this link</a>.</p>
    <p style="margin-top: 8px;">To explore the family of AI-empowered restaurants click <a href="/ai-restaurants" target="_blank" style="color: darkred;">this link</a>.</p>
    
    <hr>

    <div id="successful-top-up" style="display: none">
        <h2 style="color:#4CAF50">Perfect! You have received 50 MOM Tokens</h2>
    </div>
</div>

<script>
    // Get the modal element
    const modal = document.getElementById("web3Modal");

    const suggest_web3_bonus = "{{ suggest_web3_bonus }}" === "True"
    
    if (suggest_web3_bonus) modal.style.display = "block"

    // Get the close button element
    const closeButton = document.querySelector(".close");

    // Function to close the modal
    closeButton.onclick = function() {
        modal.style.display = "none";
    };
        
    document.getElementById('orderIdForm').addEventListener('submit', async function(event) {
        event.preventDefault();
        const email = document.getElementById('email').value;
        const restaurant_name = "{{ restaurant_name }}";
        const order_id = "{{ order_id }}";
        const loadingGif = document.getElementById('loadingGif');
        const messageElement = document.getElementById('message');
    
        // Show the loading GIF
        loadingGif.style.display = 'block';
    
        try {
            const response = await fetch('/send-orderid-email', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email: email, restaurant_name: restaurant_name, order_id: order_id })
            });
    
            if (response.ok) {
                messageElement.innerHTML = `<p style='color: #00ff00'>Thank you, the order ID has been successfully sent to ${email}.</p>`;
                document.getElementById("emailSubmitButton").disabled = true;
            } else {
                messageElement.innerHTML = "<p style='color: #ff0000'>There was an error sending your order ID. Please try again.</p>";
            }
        } catch (error) {
            console.error('Error:', error);
            messageElement.textContent = 'There was an error sending your order ID. Please try again.';
        } finally {
            // Hide the loading GIF
            loadingGif.style.display = 'none';
        }
    });

    if (localStorage.getItem('walletAddress')){
        console.log("Entered loop")
        document.getElementById("walletOrGetTokensButton").innerHTML = "Get 50 MOM tokens"
        const walletDiv = document.getElementById('current-wallet-address');
        walletDiv.innerHTML = `<p>Current wallet attached: ${localStorage.getItem('walletAddress')}</p>`;
    }

    async function connectWalletAndSendTokens() {
        if (typeof window.ethereum !== 'undefined') {
        try {
            const account = localStorage.getItem('walletAddress')
            
            if (!account) { 
            
            // Request account access if needed
            const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });

            // Assuming the first account is the one we want
            const account = accounts[0];

            // Store the account in localStorage or session as needed
            localStorage.setItem('walletAddress', account);
            localStorage.setItem('hide_wallet_section', true);

            // Display success message and hide the wallet button section
            // document.getElementById('wallet-button-section').style.display = 'none';
            document.getElementById('successful-top-up').style.display = 'block';

            // Optional: Display a response message
            document.getElementById('response-message').innerHTML = `<p style="color: #00ff00;">Wallet connected successfully! Address: ${account}</p>`;
            }

            // Data to send in the POST request
            const data = {
                wallet_address: account,
                amount: 50
            };

            console.log("data we sent: ", data)

            // Making a POST request
            fetch('/mint-send-tokens', {
                method: 'POST', // or 'PUT'
                headers: {
                  'Content-Type': 'application/json'
                },
                body: JSON.stringify(data) // Convert data to JSON string
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Network response was not ok ' + response.statusText);
                }
                return response.json(); // Parse the JSON from the response
            })
            .then(data => {
                // console.log('Success:', data);
                location.reload()
                // Handle the data here, for example, store it or display it in the UI
            })
            .catch(error => {
                console.error('There was a problem with the fetch operation:', error);
            });

        } catch (error) {
            console.error('User denied account access or there was an error:', error);
            document.getElementById('response-message').innerHTML = "<p style='color: #ff0000;'>Failed to connect wallet. Please try again.</p>";
        }
    } else {
        console.error('No Ethereum provider detected. Please install MetaMask.');
        document.getElementById('response-message').innerHTML = "<p style='color: #ff0000;'>No Ethereum provider detected. Please install MetaMask.</p>";
    }
}

    /*
    let hide_wallet_section = localStorage.getItem("hide_wallet_section")
    if (hide_wallet_section) {
        document.getElementById("wallet-button-section").style.display = "none"
        document.getElementById("successful-top-up").style.display = "block"
    }
    */
</script>

{% endblock %}
