{% extends "layout.html" %}
{% block content %}
<style>
    .content-wrapper {
        max-width: 800px; /* Set the maximum width of the content */
        width: 100%;
        background-color: #fff; /* Optional: Set a background color for the content */
        padding: 20px; /* Add padding around the content */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow for a nicer look */
        margin: 20px auto; /* Add margin to the top and bottom, center horizontally */
    }
    .content-wrapper p {
        margin-bottom: 27px; /* Adjust the value as needed */
    }
</style>

<article>
    <div class="content-wrapper">
        {{ content | safe }}
    </div>
</article>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        // Get all <p> elements within the content-wrapper
        const paragraphs = document.querySelectorAll('.content-wrapper p');
        
        // Iterate through all paragraphs
        paragraphs.forEach(function(paragraph) {
            // Create an <hr> element
            const hr = document.createElement('hr');
            
            // Insert the <hr> element after the current paragraph
            paragraph.parentNode.insertBefore(hr, paragraph.nextSibling);
        });
    });
</script>
{% endblock %}
