/* Resetting some basic elements */
body, h1, h2, h3, p, form {
    margin: 0;
    padding: 0;
}

/* General Body Styles */
body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #fff;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Header and Footer Styles */
header, footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Styles for header */
header {
    text-align: center;
    padding: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.5); /* Adds a shaded bottom line */
}

header .logo {
    max-width: 217px;
    height: auto;
}

header .slogan {
    margin-top: 0px;
    font-size: 1.7em;
    color: #000;
}


/* Main Content Area Styles */
main {
    padding: 20px;
}

/* Form and Input Styles */
input[type="text"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"], button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

/*
input[type="submit"], button:disabled {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}
*/

button:disabled {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.5;
}

input[type="submit"]:hover, button:hover {
    background-color: #333;
}

/* Links */
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

/* Dashboard Styles */

.dashboard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px; /* Space between header and tabs */
}

.total-earned, .restaurant-name {
    font-size: 20px;
    padding: 10px;
    background-color: #ffffff; /* Light grey background */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}

.form-group {
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

button a {
    color:#ffffff
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.dashboard-nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.dashboard-nav a {
    display: block;
    padding: 10px 15px;
    background-color: #000; /* Blue background */
    color: white;
    margin-right: 10px; /* Space between tabs */
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.dashboard-nav a:hover {
    background-color: #0056b3; /* Darker blue on hover */
    text-decoration: none; /* No underline on hover */
}

.dynamic-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Consistent shadow like the header */
    margin-top: 20px; /* Space between tabs and content */
}

tab {
    background-color: #000;
}

a {
   color: #4E1E1E; 
}

.responsive-video {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

.flash-messages {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Ensure it takes full width of the page */
    margin-top: 20px; /* Add some margin to separate it from the top content */
}

.flash-message {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-weight: bold;
    margin-bottom: 15px;
    background-color: #f0f0f0;
    max-width: 80%; /* Ensure it doesn't take up the full width */
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow for better visibility */
}

.flash-message.success {
    border-color: #4CAF50; /* Green border */
    background-color: #DFF2BF; /* Light green background */
    color: #4CAF50; /* Green text */
}

.flash-message.danger {
    border-color: #f44336; /* Red border */
    background-color: #FFBABA; /* Light red background */
    color: #000; /* Red text */
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.pagination a {
    text-decoration: none;
    color: #2c3e50;
}

.pagination a:hover {
    text-decoration: underline;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #00796b;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.logout-section {
    display: flex;
    justify-content: center;
}

.logout-section button {
    text-align: center;
}

.case-study {
    font-family: 'Arial, sans-serif';
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.case-study-header {
    text-align: center;
    margin-bottom: 20px;
}

.case-study-header img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.case-study-header h3 {
    font-size: 24px;
    color: #333;
}

.case-study-before, .case-study-now, .case-study-transition {
    margin-bottom: 20px;
}

.case-study-before h4, .case-study-now h4 {
    font-size: 20px;
    color: #444;
    margin-bottom: 10px;
}

.highlight {
    color: #ff6347;
    font-weight: bold;
}

.highlight-link {
    color: #1e90ff;
    text-decoration: none;
    font-weight: bold;
}

.highlight-link:hover {
    text-decoration: underline;
}

.benefits-list {
    list-style-type: none;
    padding: 0;
}

.benefits-list li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid #ff6347;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}

.drawbacks-list {
    list-style-type: none;
    padding: 0;
}

.drawbacks-list li {
    background-color: #222;
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid #ff6347;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}
p {
    font-size: 1.2em;
}
form {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.form-group {
    position: center;
    margin-bottom: 15px;
    max-width: 300px; /* Adjust the width as needed */
    text-align: center;
    align-items: center;
    margin-right: 17px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
input, select {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}







.carousel {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        overflow: hidden;
        flex-wrap: nowrap; /* Ensures logos stay in one line */
    }

    .carousel img {
        height: auto;
        transition: transform 0.3s ease;
        flex: 1 0 auto; /* Allow images to grow and shrink */
        min-width: 100px; /* Ensures logos have a minimum size */
        max-width: 150px; /* Ensures logos have a maximum size */
    }

    @media (max-width: 1200px) {
        .carousel img {
            max-width: 180px;
        }
    }

    @media (max-width: 992px) {
        .carousel img {
            max-width: 160px;
        }
    }

    @media (max-width: 768px) {
        .carousel img {
            max-width: 140px;
        }
    }

    @media (max-width: 576px) {
        .carousel img {
            max-width: 120px;
        }
    }

    @media (max-width: 400px) {
        .carousel img {
            max-width: 100px;
        }
    }





.wallet-address {
    background-image: url('/static/images/dashboard_background.jpg'); /* Replace with your image path */
    background-size: cover; /* Cover the entire div */
    background-position: center; /* Center the image */
    padding: 20px; /* Add some padding */
    color: white; /* Text color for better visibility */
    border-radius: 10px; /* Optional: Rounded corners */
}

.wallet-address h1 {
    text-shadow:
    -2px -2px 0 #000,  
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000,
    -2px 0 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    0 2px 0 #000;
/* Creates a thicker outline effect with a black shadow on all sides */
}
    



.radio-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.radio-group input {
    margin-right: 10px;
}
.radio-group label {
    font-weight: normal;
    margin-right: 15px;
}
.case-study {
    font-family: 'Arial, sans-serif';
    max-width: 800px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.case-study-header {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.case-study-header img {
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.case-study-header h3 {
    font-size: 24px;
}

.case-study-before, .case-study-transition, .case-study-now {
    padding: 20px;
}

.case-study-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.case-study-text {
    width: 55%;
}

.case-study-text ul li {
    color:#ffffff;
    font-size: larger;
}

.left-img, .right-img {
    width: 40%;
    border-radius: 10px;
}

.left-img {
    order: -1;
}

.case-study-before.black-bg, .case-study-now.black-bg {
    background-color: #000;
    color: #fff;
}

.case-study-transition.white-bg {
    background-color: #fff;
    color: #000;
}

.highlight-white {
    color: #fff;
    font-weight: bold;
}

.highlight {
    color: #00ff00;
    font-weight: bold;
}

.highlight-link {
    color: #f0f0f0;
    text-decoration: none;
    font-weight: bold;
}

.highlight-link:hover {
    text-decoration: underline;
}

.benefits-list {
    list-style-type: none;
    padding: 0;
}

.benefits-list li {
    background-color: #222;
    margin: 10px 0;
    padding: 10px;
    border-left: 5px solid #00ff00;
    border-radius: 5px;
    font-size: 18px;
}

.currency-converter {
    text-align: center;
    margin: 20px;
}

.currency-converter {
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
}

.currency-converter p {
    font-size: 18px;
}

.results p {
    font-size: 18px; /* Ensure this matches the other text's font size */
}




/* Menu Styling */

.menu-content {
    margin-top: 10px;
}
.table-responsive {
    overflow-x: auto;
}
.dataframe {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.dataframe th, .dataframe td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
.dataframe thead {
    background-color: #f2f2f2;
}
.dataframe tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
.dataframe tbody tr:hover {
    background-color: #f1f1f1;
}

/* Hero Section */
.hero-section {
    text-align: center;
    background-image: url('/static/images/landing_gipsy_banner.png');
    background-size: cover;
    color: white;
    padding: 60px 20px;
    position: relative;
}

.hero-section .slogan {
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.hero-section .sub-slogan {
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin-top: 20px;
}

.hero-section .cta-button {
    font-size: 1.2em;
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    margin-top: 20px;
}

.hero-section .cta-button:hover {
    background-color: #ff4500;
}

.section {
    text-align: center;
    margin: 40px 0;
}

.section-header {
    background-color: black;
    color: white;
    padding: 20px 0;
    width: 100%;
    margin-bottom: 40px;
}

.section-header h2 {
    margin: 0;
    font-size: 2.5em;
}

.benefit-item, .feature-item {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin: 0 1%;
    text-align: center;
}

.benefit-image, .feature-image {
    width: 150px;
    height: 150px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px;
    font-size: 1em;
    color: #7f8c8d;
    border: 2px solid #ccc;
}

.benefit-image img, .feature-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
}

.benefit-item h3, .feature-item h3 {
    font-size: 1.5em;
    color: #34495e;
    margin-bottom: 10px;
}

.benefit-item p, .feature-item p {
    font-size: 1em;
    color: #7f8c8d;
}

/* Responsive Design */
@media (max-width: 1200px) {
    .benefit-item, .feature-item {
        width: 45%;
        margin: 20px 2.5%;
    }
}

@media (max-width: 768px) {
    .benefit-item, .feature-item {
        width: 90%;
        margin: 20px 5%;
    }
}


/* How It Works Section */
#how-it-works-section {
    text-align: center;
    margin: 40px 0;
}

#how-it-works-section h2 {
    margin-bottom: 20px;
}

#how-it-works-section h3 {
    font-size: 1.5em;
    color: #34495e;
    margin-top: 20px;
}

#how-it-works-section p {
    font-size: 1em;
    color: #7f8c8d;
}

/* Call to Action Section */
#call-to-action-section {
    text-align: center;
    margin: 40px 0;
}

#call-to-action-section h2 {
    margin-bottom: 20px;
}

#call-to-action-section button {
    font-size: 1.5em;
    background-color: #3498db;
    color: white;
    border: none;
    padding: 15px 30px;
    cursor: pointer;
    margin-top: 20px;
}

#call-to-action-section button:hover {
    background-color: #2980b9;
}