{% extends 'layout_no_land.html' %}

{% block content %}
    <div id="change-credentials-container" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
        <h1>Change Credentials</h1>
        <p>Fill in the details below to change your email or password. Leave a field empty if you do not wish to change it.</p>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    <div class="flash-message">{{ messages[-1] }}</div>
                </div>
            {% endif %}
        {% endwith %}
        <form action="{{ url_for('change_credentials') }}" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column; align-items: center;">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="current_password" style="text-align: left;">Current Password:</label>
                {{ form.current_password(size=23) }}
            </div>
            <div class="form-group">
                <label for="new_email" style="text-align: left;">New Email (optional):</label>
                {{ form.new_email(size=23) }}
            </div>
            <div class="form-group">
                <label for="new_password" style="text-align: left;">New Password (optional):</label>
                {{ form.new_password(size=23) }}
            </div>
            <div style="margin-top: 7px;">
                {{ form.submit }}
            </div>
        </form>
    </div>
{% endblock %}

<style>
    .form-group {
        margin-bottom: 15px;
        max-width: 300px;
        width: 100%;
        text-align: left;
    }
</style>
