{% extends 'layout_no_land.html' %}

{% block content %}
<body>
    <h1 class="mb-4" style="text-align: center; position: relative;">
        {% if initial_setup %}Setup the menu{% else %}Update the menu{% endif %}
        <!-- Add your element here -->
        {% if initial_setup %}
        <a href="/set-working-hours?start_setup=True" style="position: absolute; top: 0; right: 0; font-size: 18px; color: #000;">
            <u>Skip for Now -></u>
        </a>
        {% else %}
        <a href="/dashboard" style="position: absolute; top: 0; right: 0; font-size: 18px; color: #000;">
            <u>Go to Dashboard -></u>
        </a>
        {% endif %}
    </h1>

    <h3 style="text-align: center; margin-bottom: 7px;"><a href="https://chatgpt.com/g/g-CJCHfiKMQ-mom-ai-restaurant-assistant" target="_blank" style="margin-top:20px; margin-bottom: 20px;"><u>Talk to MOM AI GPT and Get Extra Assistance!</u></a>
        <br>&amp;<br>
        Watch This Comprehensive Tutorial on How to Form Menu!</h3>
        <div style="margin-bottom: 10px; display: flex; flex-direction: column; align-items: center; text-align: center; width: 100%;">
    <iframe width="560" height="315" 
        src="https://www.youtube.com/embed/dy4DO92oTcU" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        allowfullscreen>
    </iframe>
   
    </div>

    <hr>

    <h1 style="text-align: center;">Set the currency</h1>

    <!-- Form to select currency -->
{% if initial_setup %}
<form id="currencyForm" action="/set-currency?initial_setup=True" method="POST">
{% else %}
<form id="currencyForm" action="/set-currency" method="POST">
{% endif %}
    <!-- Dropdown for top 10 currencies -->
    <label for="currency">Select Currency:</label>
    <select id="currency" name="currency" style="max-width: 300px;">
        <option value="{{ currency }}" selected>{{ currency }}</option>
        <option value="USD">USD - US Dollar</option>
        <option value="EUR">EUR - Euro</option>
        <option value="JPY">JPY - Japanese Yen</option>
        <option value="GBP">GBP - British Pound</option>
        <option value="AUD">AUD - Australian Dollar</option>
        <option value="CAD">CAD - Canadian Dollar</option>
        <option value="CHF">CHF - Swiss Franc</option>
        <option value="CNY">CNY - Chinese Yuan</option>
        <option value="SEK">SEK - Swedish Krona</option>
        <option value="NZD">NZD - New Zealand Dollar</option>
        <option value="ISK">ISK - Icelandic Krona</option>
    </select>

    <!-- Button to submit the form -->
    <button type="submit" style="margin-top: 10px;">Set Currency</button>
    
</form>

<hr>


    <h1 style="text-align: center;">Upload the menu file</h1>
    {% if initial_setup %}
    <form action="/update_menu?initial_setup=True" method="post" enctype="multipart/form-data" onsubmit="showLoadingGif()">
        <div>
            <label for="menu_update">⬇️Upload the menu(rewrites the whole menu📖)</label>
            {{ form.menu_update }}
        </div>
        <div style="margin-top: 7px;">
            {{ form.submit }}
        </div>
    </form>
    {% else %}
    <form action="/update_menu" method="post" enctype="multipart/form-data" onsubmit="showLoadingGif()">
        <div>
            <label for="menu_update">⬇️Upload the menu(rewrites the whole menu📖)</label>
            {{ form.menu_update }}
        </div>
        <div style="margin-top: 7px;">
            {{ form.submit }}
        </div>
    </form>
    {% endif %}

    {% if initial_setup or default_menu %}
    <div style="display:flex; flex-direction: column; align-items: center;">
        <h2 style="text-align: center;">or</h2>
        <div style="display:flex; flex-direction: column; align-items: center; border: 2px solid #000; border-radius: 10px; padding: 10px;">
        <h1 style="text-align: center;">Add Menu Items One-by-One</h1>
        <form id="menuForm" action="/submit_menu" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column; align-items: center; padding: 20px;">
            {{ form.hidden_tag() }}
            <input type="text" name="item_name" placeholder="Item Name" required style="width: 300px; margin-bottom: 10px; padding: 10px; border-radius: 5px;">
            <input type="text" name="item_description" placeholder="Item Description" required style="width: 300px; margin-bottom: 10px; padding: 10px; border-radius: 5px;">
            <input type="number" step="0.01" name="item_price" placeholder="Item Price ({{ currency }})" required style="width: 300px; margin-bottom: 10px; padding: 10px; border-radius: 5px;">
            <input type="url" name="item_image_link" placeholder="Link to Image" style="width: 300px; margin-bottom: 10px; padding: 10px; border-radius: 5px;">
            <button type="button" id="addItemBtn">Add Item</button>
        </form>
        </div>

        <table id="itemTable" border="1" class="dataframe table table-striped" style="margin-top: 20px;">
            <thead>
                <tr style="text-align: right;">
                    <th>Item Name</th>
                    <th>Item Description</th>
                    <th>Item Price ({{ currency }})</th>
                    <th>Link to Image</th>
                    <th>Image</th>
                    <th>Remove Item</th>
                    <th>AI-image</th> <!-- New Column -->
                </tr>
            </thead>
            <tbody>
                <!-- Items will be dynamically added here -->
            </tbody>
        </table>

        <button type="submit" id="submitMenuBtn" style="margin-top: 20px;">Submit Menu</button>
    </div>

    <script>
        function showLoadingGif() {
            document.getElementById('loadingGif').style.display = 'block';
        }
        
        document.getElementById('addItemBtn').addEventListener('click', function() {
            // Get the values from the form inputs
            let itemName = document.getElementsByName('item_name')[0].value.trim();
            let itemDescription = document.getElementsByName('item_description')[0].value.trim();
            let itemPrice = document.getElementsByName('item_price')[0].value.trim();
            let itemImageLink = document.getElementsByName('item_image_link')[0].value.trim();

            // Validation
            if (!itemName || !itemDescription) {
                alert('Item Name and Item Description are required.');
                return;
            }

            if (isNaN(itemPrice) || itemPrice <= 0) {
                alert('Item Price must be a valid number greater than 0.');
                return;
            }

            console.log(`Item Image Link ${itemImageLink}`)

            if (!isValidUrl(itemImageLink)) {
                alert('The Image Link must be a valid URL.');
                return;
            }

            // Create a new row in the table
            let table = document.getElementById('itemTable').getElementsByTagName('tbody')[0];
            let newRow = table.insertRow(0);

            newRow.innerHTML = `
                <td contenteditable="true" data-column="Item Name" style="max-width: 200px; overflow-wrap: break-word; word-wrap: break-word; white-space: normal;">${itemName}</td>
                <td contenteditable="true" data-column="Item Description" style="max-width: 300px; overflow-wrap: break-word; word-wrap: break-word; white-space: normal;">${itemDescription}</td>
                <td contenteditable="true" data-column="Item Price (EUR)" style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">${parseFloat(itemPrice).toFixed(2)}</td>
                <td contenteditable="true" data-column="Link to Image" style="max-width: 200px; overflow-wrap: break-word; word-wrap: break-word; white-space: normal;">${itemImageLink}</td>
                <td contenteditable="false" data-column="Image" style="max-width: 170px;"><img src="${itemImageLink}" alt="Image of ${itemName}" width="170" height="auto"></td>
                <td><button class="delete-add-oneByOne-row-btn">Delete</button></td>    
            `;

            // Clear the form inputs
            document.getElementById('menuForm').reset();

            attachDeleteOneByOneListeners();
        });

        // Add event listener to all delete buttons
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.delete-add-row-btn').forEach(function(button) {
                button.addEventListener('click', function() {
                    // Find the row that the button is in and remove it
                    let row = button.closest('tr');
                    row.parentNode.removeChild(row);
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            var select = document.getElementById('currency');
            var form = document.getElementById('currencyForm');
            var initialValue = select.value;

            select.addEventListener('change', function() {
                if (this.value !== initialValue) {
                    form.submit();
                }
            });
        });

        // Add event listener to all delete buttons
        document.addEventListener('DOMContentLoaded', function() {
            document.querySelectorAll('.delete-add-oneByOne-row-btn').forEach(function(button) {
                button.addEventListener('click', function() {
                    // Find the row that the button is in and remove it
                    let row = button.closest('tr');
                    row.parentNode.removeChild(row);
                });
            });
        });




        document.getElementById('submitMenuBtn').addEventListener('click', function() {
            document.getElementById("loadingGif").style.display = "block";
            
            let rows = document.querySelectorAll('#itemTable tbody tr');
            let items = [];

            rows.forEach(function(row) {
                let item = {
                    "Item Name": row.cells[0].innerText,
                    "Item Description": row.cells[1].innerText,
                    "Item Price (EUR)": row.cells[2].innerText,
                    "Link to Image": row.cells[3].innerText
                };
                items.push(item);
            });

            const data_to_send = {
                "unique_azz_id": "{{ unique_azz_id }}",
                "updatedItems": items
            };

            fetch('/update_menu_manual', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data_to_send)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Menu updated successfully!');
                    const initial_setup = "{{ initial_setup }}" === "True"
                    
                    if(!initial_setup){
                    location.reload();
                    } else {
                        window.location.href = "/dashboard?show_popup=True"
                    }
                } else {
                    alert('Failed to update the menu.');
                }
            });
        });
    </script>
    {% endif %}
    <hr>
    <div class="container mt-5">
        <!-- New Item Form -->
        {% if not default_menu and not initial_setup %}
        <div style="display:flex; flex-direction: column; align-items: center; border: 2px solid #000; border-radius: 10px; padding: 10px;">
        <h3 style="text-align: center;">Add a New Menu Item Manually</h3>
        <div id="newItemForm" style="display: flex; flex-direction: column; align-items: center; padding: 20px;">
          <input type="text" id="newItemName" placeholder="Item Name" required style="width: 300px; margin-bottom: 10px; padding: 10px; border-radius: 5px;">
          <input type="text" id="newItemDescription" placeholder="Item Description" required style="width: 300px; margin-bottom: 10px; padding: 10px; border-radius: 5px;">
          <input type="number" step="0.01" id="newItemPrice" placeholder="Item Price ({{ currency }})" required style="width: 300px; margin-bottom: 10px; padding: 10px; border-radius: 5px;">
          <input type="url" id="newItemImageLink" placeholder="Link to Image" style="width: 300px; margin-bottom: 10px; padding: 10px; border-radius: 5px;">
          <button id="addNewItemBtn">Add Item</button>
        </div>
        
        <p style="font-size: 10px;">Press this button when you have added new positions and removed irrelevant items</p>
        </div>

        <div style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <img src="/static/assets/loading-gif.gif" width="70" style="display: none;" id="loadingGif">
        </div>

        {% endif %}

        <div style="display: flex; align-items: center; justify-content: center;">
            <button id="saveChangesBtn" style="margin-top: 20px; flex-direction: column; align-items: center;">Save Changes</button>
        </div>

        {% if default_menu %}
        <h1 class="mb-4" style="text-align: center;">That's the example of the menu you should provide</h1>
        {% else %}
        <h1 class="mb-4" style="text-align: center;">That's the menu the assistant refers to now</h1>
        <h2 class="mb-4" style="text-align: center;">⬇️Edit the menu right in the table⬇️</h2>
    

        {% endif %}    
        <!-- Export as CSV Button -->
        <div style="text-align: center; margin-top: 20px;">
            <button id="exportCsvBtn">Export as CSV</button>
        </div>

        
        <div class="mt-4">
            <div class="menu-content table-responsive">
                <table id="menuTable" border="1" class="dataframe table table-striped">
                    <thead>
                        <tr style="text-align: right;">
                            <th>Item Name</th>
                            <th>Item Description</th>
                            <th>Item Price ({{ currency }})</th>
                            <th>Link to Image</th>
                            <th>Image</th>
                            <th>Remove Item</th>
                            <th>AI-image</th> <!-- New Column -->
                        </tr>
                    </thead>
                    <tbody>
                        {% if not default_menu %}
                        {% for item in html_menu_tuples %}
                        <tr>
                          <td contenteditable="true" data-column="Item Name" style="max-width: 200px; overflow-wrap: break-word; word-wrap: break-word; white-space: normal;">{{ item["Item Name"] }}</td>
                          <td contenteditable="true" data-column="Item Description" style="max-width: 300px; overflow-wrap: break-word; word-wrap: break-word; white-space: normal;">{{ item["Item Description"] }}</td>
                          <td contenteditable="true" data-column="Item Price (EUR)" style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ item["Item Price (EUR)"] }}</td>
                          <td contenteditable="true" data-column="Link to Image" style="max-width: 200px; overflow-wrap: break-word; word-wrap: break-word; white-space: normal;">{{ item["Link to Image"] }}</td>
                          <td contenteditable="false" data-column="Image"><img src="{{ item['Link to Image'] }}" alt="Image of {{ item['Item Name'] }}" width="170" height="auto"></td>
                          <td><button class="delete-row-btn">Delete</button></td>
                        </tr>
                        {% endfor %}
                        {% else %}
                        {% for item in html_menu_tuples %}
                        <tr>
                          <td contenteditable="false" data-column="Item Name" style="max-width: 200px; overflow-wrap: break-word; word-wrap: break-word; white-space: normal;">{{ item["Item Name"] }}</td>
                          <td contenteditable="false" data-column="Item Description" style="max-width: 300px; overflow-wrap: break-word; word-wrap: break-word; white-space: normal;">{{ item["Item Description"] }}</td>
                          <td contenteditable="false" data-column="Item Price (EUR)" style="max-width: 100px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">{{ item["Item Price (EUR)"] }}</td>
                          <td contenteditable="false" data-column="Link to Image" style="max-width: 200px; overflow-wrap: break-word; word-wrap: break-word; white-space: normal;">{{ item["Link to Image"] }}</td>
                          <td contenteditable="false" data-column="Image"><img src="{{ item['Link to Image'] }}" alt="Image of {{ item['Item Name'] }}" width="170" height="auto"></td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                  </table>

                  

                  <script>
                    // Add event listener to all delete buttons
                        document.querySelectorAll('.delete-row-btn').forEach(function(button) {
                            button.addEventListener('click', function() {
                                // Display confirmation dialog
                                let confirmation = confirm('Are you sure you want to delete this item?');
                                if (confirmation) {
                                    // If user clicks "Yes", delete the row
                                    let row = button.closest('tr');
                                    row.parentNode.removeChild(row);
                                } else {
                                    // If user clicks "No", do nothing
                                    return;
                                }
                            });
                        });

                        document.getElementById('exportCsvBtn').addEventListener('click', function() {
                            let table = document.getElementById('menuTable');
                            let csv = [];
                            let rows = table.querySelectorAll('tr');

                            // Loop over the rows of the table
                            for (let i = 0; i < rows.length; i++) {
                                let row = [];
                                let cols = rows[i].querySelectorAll('td, th');
                                
                                // Loop over the first 4 columns only
                                for (let j = 0; j < 4 && j < cols.length; j++) {
                                    row.push('"' + cols[j].innerText.replace(/"/g, '""') + '"'); // Escape any quotes inside the cell data
                                }

                                csv.push(row.join(','));
                            }

                            // Create a CSV string from the rows array
                            let csvString = csv.join('\n');

                            // Create a Blob object from the CSV string
                            let csvFile = new Blob([csvString], { type: 'text/csv' });

                            // Create a link element
                            let downloadLink = document.createElement('a');
                            downloadLink.download = 'menu.csv';

                            // Create a URL for the Blob and set it as the href of the link
                            downloadLink.href = window.URL.createObjectURL(csvFile);

                            // Append the link to the body
                            document.body.appendChild(downloadLink);

                            // Trigger the download by simulating a click
                            downloadLink.click();

                            // Remove the link from the document
                            document.body.removeChild(downloadLink);
                        });

                    
                        // Add new AI-image column to each row
                        document.querySelectorAll('#menuTable tbody tr').forEach(function(row) {
                            let aiImageCell = row.insertCell();
                            aiImageCell.setAttribute('data-column', 'AI-image');
                            let aiImageButton = document.createElement('button');
                            aiImageButton.innerText = 'Generate Image';
                            aiImageButton.classList.add('generate-image-btn');
                            aiImageCell.appendChild(aiImageButton);

                            attachGenerateImageListener(aiImageButton, row);
                        });

                        function attachGenerateImageListener(button, row) {
                            button.addEventListener('click', function() {
                                let itemName = row.querySelector('td[data-column="Item Name"]').innerText;
                                let itemDescription = row.querySelector('td[data-column="Item Description"]').innerText;
                                let aiImageCell = row.querySelector('td[data-column="AI-image"]');
                                
                                // Show loading spinner
                                aiImageCell.innerHTML = '<img src="/static/assets/loading-gif.gif" width="50" alt="Loading...">';

                                // Send the name and description to generate the image
                                fetch('/generate_menu_item_image', {
                                    method: 'POST',
                                    headers: {
                                        'Content-Type': 'application/json'
                                    },
                                    body: JSON.stringify({
                                        item_name: itemName,
                                        item_description: itemDescription
                                    })
                                })
                                .then(response => response.json())
                                .then(data => {
                                    if (data.generated_link) {
                                        aiImageCell.innerHTML = `<img src="${data.generated_link}" alt="AI-Image of ${itemName}" width="170" height="auto">`;
                                    } else {
                                        aiImageCell.innerHTML = 'Failed to generate image';
                                    }
                                })
                                .catch(error => {
                                    console.error('Error generating image:', error);
                                    aiImageCell.innerHTML = 'Error generating image';
                                });
                            });
                        }



                    document.getElementById('addNewItemBtn').addEventListener('click', function() {
                    // Get the values from the form inputs
                    let itemName = document.getElementById('newItemName').value.trim();
                    let itemDescription = document.getElementById('newItemDescription').value.trim();
                    let itemPrice = document.getElementById('newItemPrice').value.trim();
                    let itemImageLink = document.getElementById('newItemImageLink').value.trim();

                    // Validation
                    if (!itemName || !itemDescription) {
                        alert('Item Name and Item Description are required and must be valid strings.');
                        return;
                    }

                    if (isNaN(itemPrice) || itemPrice <= 0) {
                        alert('Item Price must be a valid number greater than 0.');
                        return;
                    }

                    if (itemImageLink && !isValidUrl(itemImageLink)) {
                        alert('The Image Link must be a valid URL or leave it empty.');
                        return;
                    }

                    let newItem = {
                        "Item Name": itemName,
                        "Item Description": itemDescription,
                        "Item Price (EUR)": parseFloat(itemPrice).toFixed(2),
                        "Link to Image": itemImageLink,
                    };

                    // Add new item to the table
                    let table = document.getElementById('menuTable').getElementsByTagName('tbody')[0];
                    let newRow = table.insertRow(0);

                     style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;"
                     
                    newRow.style.maxWidth = 200;
                    newRow.style.overflow = "hidden";
                    newRow.style.textOverflow = "ellipsis";
                    newRow.style.whiteSpace = "nowrap";

                    Object.keys(newItem).forEach(function(key) {
                        let cell = newRow.insertCell();
                        cell.style.maxWidth = "200px";  // Add "px" for width value
                        cell.style.overflow = "hidden";
                        cell.style.textOverflow = "ellipsis";
                        cell.style.whiteSpace = "nowrap";
                        cell.contentEditable = "true";  // This allows the content to be editable
                        cell.setAttribute('data-column', key);  // Sets a custom attribute 'data-column'
                        cell.textContent = newItem[key];  // Use textContent, faster and more consistent
                    });

                    let imgCell = newRow.insertCell();
                    imgCell.setAttribute('data-column', "Image");
                    if (newItem['Link to Image']) {
                        imgCell.innerHTML = '<img src="'+newItem['Link to Image']+'" alt="Image of '+newItem['Item Name']+'" width="170" height="auto">';
                    } else {
                        imgCell.innerText = 'No Image Provided';
                    }

                    let deleteButtonCell = newRow.insertCell();
                    deleteButtonCell.innerHTML = '<td><button class="delete-row-btn">Delete</button><p style="font-size: 10px; color: #00ff00">Newly added Item</p></td>'

                    // Reattach delete event listeners to all delete buttons
                    attachDeleteListeners();
                    
                    // Clear the form after adding the item
                    document.getElementById('newItemForm').reset();

                    // Then attach the generate image listener to the new row:
                    newRow = document.getElementById('menuTable').getElementsByTagName('tbody')[0].rows[0]; // New row is added at the top
                    let aiImageCell = newRow.insertCell();
                    aiImageCell.setAttribute('data-column', 'AI-image');
                    let aiImageButton = document.createElement('button');
                    aiImageButton.innerText = 'Generate Image';
                    aiImageButton.classList.add('generate-image-btn');
                    aiImageCell.appendChild(aiImageButton);

                    attachGenerateImageListener(aiImageButton, newRow);

                    });

                    function attachDeleteListeners() {
                        document.querySelectorAll('.delete-row-btn').forEach(function(button) {
                            button.addEventListener('click', function() {
                                let confirmation = confirm('Are you sure you want to delete this row?');
                                if (confirmation) {
                                    let row = button.closest('tr');
                                    row.parentNode.removeChild(row);
                                }
                            });
                        });
                    }

                    function attachDeleteOneByOneListeners() {
                        document.querySelectorAll('.delete-add-oneByOne-row-btn').forEach(function(button) {
                            button.addEventListener('click', function() {
                                let confirmation = confirm('Are you sure you want to delete this row?');
                                if (confirmation) {
                                    let row = button.closest('tr');
                                    row.parentNode.removeChild(row);
                                }
                            });
                        });
                    }

                    // Function to validate URL
                    function isValidUrl(string) {
                        try {
                            if (string) {
                                console.log("Entered URL")
                            new URL(string);
                            }
                            console.log("Returned True")
                            return true;
                        } catch (_) {
                            return false;
                        }
                    }


                    document.getElementById('saveChangesBtn').addEventListener('click', function() {
                        document.getElementById("loadingGif").style.display = "block"
                        
                        let rows = document.querySelectorAll('#menuTable tbody tr');
                        let updatedItems = [];

                        rows.forEach(function(row) {
                            let item = {};
                            row.querySelectorAll('td').forEach(function(cell) {
                                if (cell.getAttribute('data-column') !== "Image"){
                                    item[cell.getAttribute('data-column')] = cell.innerText;
                                }
                            });
                            updatedItems.push(item);
                        });

                        const data_to_send = {
                            "unique_azz_id":"{{ unique_azz_id }}",
                            "updatedItems": updatedItems
                        }

                        fetch('/update_menu_manual', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data_to_send)
                        })
                        .then(response => response.json())
                        .then(data => {
                            if (data.success) {
                                location.reload();
                            } else {
                                location.reload();
                            }
                        });
                    });
                  </script>
            </div>
        </div>
        <hr>
    </div>
</body>
<script>
 document.addEventListener('DOMContentLoaded', function() {
 // Hide flash messages after 5 seconds
 var flashMessages = document.querySelector('.flash-messages');
  if (flashMessages) {
    setTimeout(function() {
      flashMessages.style.display = 'none';
    }, 5000);
  }
});
</script>   
{% endblock %}

