{% extends "layout_no_land.html" %}

{% block content %}
{% if tg_setup %}
<h1 class="mb-4" style="text-align: center; position: relative;">
    Setup notifications easily
    <!-- Add your element here -->
    {% if tg_setup %}
    <a href="/update_menu_gui?initial_setup=True" style="position: absolute; top: 0; right: 0; font-size: 18px; color: #000;">
        <u>Skip for now -></u>
    </a>
    {% else %}
    <a href="/dashboard" style="position: absolute; top: 0; right: 0; font-size: 18px; color: #000;">
        <u>Go to Dashboard -></u>
    </a>
    {% endif %}
</h1>
<div style="display: flex; flex-direction: column; align-items: center;">
<!-- <img src="/static/images/bulls_logos/Telegram_logo.webp" alt="Telegram Logo" width="170"> -->
<a href="https://t.me/mom_ai_rest_bot" target="_blank"><u><b>Visit MOM AI Restaurant Telegram bot now!</u></b></b></a>
<p>Bot ID: <b>@mom_ai_rest_bot</b></p>
<h2>Check Out the Quick Tutorial</h2>
<iframe width="560" height="315" 
            src="https://www.youtube.com/embed/eLsadFTkL0s" 
            title="YouTube video player" 
            frameborder="0" 
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
            allowfullscreen>
</iframe>
<p style="padding: 5px;"><b>Insert the obtained code(s) below</b></p>
</div>
    
{% endif %}

{% if not tg_setup %}
<h2 class="mb-4" style="text-align: center; position: relative; padding: 5px;">
    Update Profile
    <a href="/dashboard" style="position: absolute; top: 0; right: 0; font-size: 18px; color: #000;">
        <u>Go to Dashboard -></u>
    </a>
</h2>
{% endif %}

{% if tg_setup %}
<form method="POST" action="{{ url_for('update_profile', attribute=attribute, tg_setup=True) }}" enctype="multipart/form-data">
{% else %}
<form method="POST" action="{{ url_for('update_profile', attribute=attribute) }}" enctype="multipart/form-data">
{% endif %}
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    <style>
        /* Target input and textarea elements inside the form */
        form input[type="text"],
        form input[type="password"],
        form input[type="email"],
        form textarea,
        form select {
            width: 80%; /* Adjust the width as needed */
            box-sizing: border-box; /* Ensure padding and border are included in the width */
        }

        .input-cell{
            width: 80%
        }
    </style>
    <table style="width: 100%; border-collapse: collapse; font-family: Arial, sans-serif;">
        <thead>
            <tr style="background-color: #000; color: #fff;">
                <th style="text-align: left; padding: 12px; border: 1px solid #000;">Attribute</th>
                <th style="text-align: left; padding: 12px; border: 1px solid #000;">Current Value</th>
                {% if attribute == "notif_destin" %}
                <th style="text-align: left; padding: 12px; border: 1px solid #000;">Set New Value<br>(if multiple devices insert separated by commas)</th>
                {% else %}
                <th style="text-align: left; padding: 12px; border: 1px solid #000;">Set New Value</th>
                {% endif %}
                <th style="text-align: left; padding: 12px; border: 1px solid #000;"></th>
            </tr>
        </thead>
        <tbody>
            <tr style="background-color: #f9f9f9; color: #000;">
                <td style="padding: 12px; border: 1px solid #ddd;">{{ form[attribute].label.text }}</td>
                <td style="padding: 12px; border: 1px solid #ddd;">{% if attribute == "image" %}
                    <img src="{{ url_for('serve_image', file_id=restaurant.res_logo) }}" style="height:50px; width:auto">
                {% endif %}
                {% if restaurant[attribute] is iterable and restaurant[attribute] is not string %}
                    {{ ", ".join(restaurant[attribute]) }}
                {% elif restaurant[attribute] == None %}
                    <p>No value is set</p>
                {% else %}
                    {{ restaurant[attribute] }}
                {% endif %}</td>
                <td style="padding: 12px; border: 1px solid #ddd;">
                    <!-- {{ form[attribute].label }}<br> -->
                    {{ form[attribute](class_="input-cell") }}
                </td>
                <td style="padding: 12px; border: 1px solid #ddd;">
                    {{ form.submit }}
                </td>
            </tr>
        </tbody>
    </table>
</form>

{% if tg_setup %}
<div style="display:flex; align-items: center; flex-direction: column; margin-top: 10px;">
<img src="/static/images/tg_happy.png" height="300px" width="auto">
</div>
{% endif %}
<script>
    // Hide flash messages after 5 seconds
    var flashMessages = document.querySelector('.flash-messages');
    if (flashMessages) {
      setTimeout(function() {
        flashMessages.style.display = 'none';
      }, 7000);
    }
  </script>
{% endblock %}
