{% extends 'layout_no_land.html' %}

{% block content %}
<div style="width: 90%; max-width: 400px; margin: auto; height: 80vh; display: flex; flex-direction: column; justify-content: space-between;">
    <header style="background-color: #000000; color: white; padding: 10px; text-align: center;">
        Example of Chat Room for {{ restaurant_name }}
    </header>
    <div id="message-container" style="overflow-y: auto; flex-grow: 1; background: white; padding: 10px;">
        {% for message in messages %}
            {% if message.sender == 'assistant' %}
                <div style="margin: 10px; padding: 10px; background-color: #000000; color: white; text-align: right; border-radius: 10px;">
                    {{ message.content }}
                </div>
            {% else %}
                <div style="margin: 10px; padding: 10px; background-color: #e5e5e5; text-align: left; border-radius: 10px;">
                    {{ message.content }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <footer id="chatInputFooter" style="background-color: #000000; color: white; padding: 10px; position: relative;">
        <div id="countdown" style="color: white; text-align: center;"></div>
        <input type="text" id="userMessage" placeholder="Type your message here..." style="width: 85%; padding: 10px; border: none; font-size: 16px;" disabled>
        <button onclick="sendMessage()" style="background: none; border: 3px solid white; color: white; font-size: 16px; align-items: center; margin-top: 7px;" disabled>Send</button>
        <!-- spinner yuhuu! -->
        <div id="spinner" style="display: none; position: absolute; top: 10px; right: 10px;">
            <img src="/static/assets/loading-gif.gif" alt="Loading..." style="width: 50px; height: 50px;">
        </div>
    </footer>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const messages = {{ messages | length }};
        console.log(`Messages length: ${messages}`)
        const countdownElement = document.getElementById('countdown');

        if (messages >= 3) {
            let timeLeft = 7;
            countdownElement.textContent = 'Redirecting in ' + timeLeft + ' seconds...';

            const interval = setInterval(function() {
                timeLeft--;
                countdownElement.textContent = 'Redirecting in ' + timeLeft + ' seconds...';
                
                if (timeLeft <= 0) {
                    clearInterval(interval);
                    window.location.href = "/dashboard?show_popup=True";
                }
            }, 1000);
        }
    });
</script>
{% endblock %}
