{% extends 'layout.html' %}

{% block content %}

<div id="upper-part" style="margin-bottom: 15px;">
<div style="text-align: center;">
    <h1>Welcome to MOM AI Restaurant Assistant <span style="font-size: 77%;"><a href="#instructions"><b><u>(Check the setup guide)</u></b></a></span></h1>
    <p>Fill in the details below to get started.</p>
</div>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                    <div class="flash-message">{{ messages[-1] }}</div>
            </div>
        {% endif %}
    {% endwith %}
    <form action="/" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div>
            <label for="restaurant_name">*Restaurant Name:</label>
            {{ form.restaurant_name }}
        </div>
        <div class="form-group">
            <label for="restaurant_url">Restaurant Website:</label>
            {{ form.restaurant_url }}
        </div>
        <div class="form-group">
            <label for="menu">Upload Menu (only Excel File - <a href = '{{ url_for("serve_excel_guide") }}' target="_blank"><u>Guide on how to form it</u></a>)</label>
            <p style="font-size: 14px;"><b><i>**in case of ambiguity we will form this file for you</u></b></i></p>
            {{ form.menu }}
        </div>
        <div class="form-group">
            <label for="currency">*Your restaurant currency</label>
            {{ form.currency }}
        </div>
        <!-- Not needed for now
        <div class="form-group">
            <label for="script">Upload Script (TXT):</label>
            {{ form.script }}
        </div>
        <div class="form-group">
            <label for="script">Input additional instructions for the assistant manually (Optional):</label>
            {{ form.other_instructions }}
        </div>
        -->
        <div>
            <label for="email">*Input Valid Email (You Will Receive code on it):</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label for="password">*Password:</label>
            {{ form.password }}
            <p style="font-size: 14px;"><b><i>at least 8 characters</i></b></p>
        </div>
        <div class="form-group">
            <label for="confirm_password">*Confirm Password:</label>
            {{ form.confirm_password }}
        </div>
        <div class="form-group">
            {{ form.submit }}
        </div>
    </form>
    <p style="font-size: 14px;">* - required fields</p>
    <p style="font-size: 14px;">** - simply reach us on contact@mom-ai-agency.site</p>
    <!-- <p>Already registered? <a href="{{ url_for('login') }}"><b><u>Log In</u></b></a></p> -->
</div>

<div id="instructions" style="border-top: 1px solid black; font-family: Arial, sans-serif; max-width: 800px; margin: 20px auto; padding: 20px; background-color: #f9f9f9; border-radius: 8px;">
    <h2 style="text-align: center; margin-top: 14px; color: #2c3e50;">How to Get Started with MOM AI Restaurant Assistant & What It Does</h2>
    <h3 style="text-align: center; margin-bottom: 5px; margin-top: 5px;">Video Guide</h3>
    
    <div style="display: flex; justify-content: center; align-items: center;">
        <iframe src="https://drive.google.com/file/d/1LG5Cor62hl9I_CQm3KHfEbL6O1EHK0dK/preview" width="1280" height="520" style="border: none;"></iframe>
    </div>

    <p style="text-align: center; color: #7f8c8d; margin-top: 10px;">Follow these simple steps to set up your restaurant AI-assistant:</p>
    <ol style="line-height: 1.6; color: #34495e;">
        <li><strong>Sign Up for an Account (3 minutes)</strong>
            <ol style="margin-top: 10px; padding-left: 20px;">
                <li>Visit the MOM AI landing page - you are here!</li>
                <li>Fill out the registration form with your restaurant's details and your contact information.</li>
                <li>Verify your email address by entering the code sent to your inbox.</li>
                <li>Get the link to your plug-and-play account dashboard in mid-June. Stay updated <a style="color: #9b59b6;" href="https://www.linkedin.com/company/100465123/admin/feed/posts/" target="_blank">here.</a></li>
            </ol>
        </li>

        <li style="margin-top: 20px;"><strong>Setup the Assistant (2 minutes) - <i>Available in mid-June</i></strong></li>
        <i style="display: block; margin-top: 10px; color: #7f8c8d;">In-store</i>
            <ol style="margin-top: 10px; padding-left: 20px;">
                <li>Pick up the tablet</li>
                <li>Access the Dashboard after registration.</li>
                <li>Click "Assistant" tab</li>
                <li>Press "Open [your restaurant name]'s Assistant"</li>
                <li>Put the tablet at the counter of your restaurant and let the assistant handle the orders.</li>
            </ol>
        <i style="display: block; margin-top: 10px; color: #7f8c8d;">Online</i>
            <ol style="margin-top: 10px; padding-left: 20px;">
                <li>Access the Dashboard after registration.</li>
                <li>Click "Assistant" tab</li>
                <li>Copy the link to your restaurant's AI assistant</li>
                <li>Share the link with your customers via social media, email, or your website.</li>
            </ol>
        
        <li style="margin-top: 20px;"><strong>Monitor and Manage Orders (lifetime of profit)</strong>
            <ol style="margin-top: 10px; padding-left: 20px;">
                <li>Access the "Order Dashboard" to view incoming orders.</li>
                <li>The AI assistant will notify you of new orders via email or SMS after successful payment.</li>
                <li>Track order statuses and manage your restaurant operations efficiently.</li>
            </ol>
        </li>
    </ol>
    
    <h3 style="margin-top: 30px; color: #2c3e50;"><strong>Pricing Overview</strong></h3>
    <ul style="line-height: 1.6; color: #34495e;">
        <li>Pay as you go based on the usage of the AI assistant.</li>
        <li>Message Fee: ~$0.03 per message sent by the AI assistant.</li>
        <li>Order Fee: 1% of the total price of each successfully paid order.</li>
        <li>Estimated Cost per Order: Approximately $0.20 based on average message volume.</li>
        <li><b>No upfront payments required!</b> At the start, <b>you receive $3</b> to pay for chat messages and generate your first AI order!</li>
    </ul>

    <h3 style="margin-top: 30px; color: #2c3e50;"><strong>How do I access my funds?</strong></h3>
    <p style="line-height: 1.6; color: #34495e;">Once you earn $100 on the MOM AI platform, you can visit the "Withdraw Funds" section on your dashboard and request the withdrawal of your funds in a way convenient for you, including crypto!</p>
</div>

{% endblock %}

