{% extends 'layout_marketing_dashboard.html' %}

{% block content %}

<style>
.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    max-width: 100%;
    height: auto;
}

.image-container .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -135%);
    color: white;
    background-color: black;
    font-size: 3em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    white-space: nowrap;
}

.subuschechka-slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 35%);
    color: white;
    background-color: black;
    font-size: 1em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    white-space: nowrap;
    padding-right: 0.3%;
}

.image-container .sub-slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    color: white;
    background-color: black;
    font-size: 2em;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    white-space: nowrap;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.link {
    margin: 0 10px;
}

@media (max-width: 700px) {
    .slogan {
        font-size: 2em;
    }
    .sub-slogan {
        font-size: 1.5em;
    }
    .subuschechka-slogan {
        font-size: 0.8em;
    }
}
</style>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-messages">
            <div class="flash-message">{{ messages[-1] }}</div>
        </div>
    {% endif %}
{% endwith %}

<div class="responsive-container" style="display: flex; justify-content: center; align-items: flex-start; flex-direction: row; padding-top: 10px; gap: 15px; margin-bottom: 10px;">
    <div style="width: 50%; display: flex; flex-direction: column; align-items: center; gap: 5px">
        <img src="/static/logos/restaurantAndTakeawayLogo.jpg" width="auto" height="50">
        <h3 style="text-align: center;"><b>Exhibitor of<br><a href="https://www.takeawayexpo.co.uk/exhibitors/mom-ai-restaurant/" target="_blank"><u>Restaurant & Takeaway Expo 2024</u></a></b></h3>
    </div>
    <div style="width: 50%; display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 5px">
        <img src="/static/images/bulls_logos/OpenAI_Logo.png" width="auto" height="50">
        <h3><b>Approved funding by OpenAI</b></h3>
    </div>
</div>

<style>
/* Default style for larger screens */
.responsive-container {
    display: flex;
    flex-direction: row;
}

/* Media query for screens smaller than 768px (tablets, phones) */
@media (max-width: 768px) {
    .responsive-container {
        flex-direction: column;
        gap: 10px; /* Adjust spacing if needed */
    }
}
</style>

    
<div style="display: flex; align-items: center; justify-content: center; padding: 20px; text-align: center; flex-wrap: wrap; gap: 40px">
    <!-- Left Column -->
    <div style="text-align: center; max-width: 400px; margin-right: 20px;">
      <h1 style="font-size: 2.7rem; margin-bottom: 15px; line-height: 1.2; font-weight: bold;">
        Hey, Restaurant Owners & Managers!
      </h1>
      <h2 style="padding-top: 25px;">Automate Your Restaurant's</h2>
						        	        	<h2>Customer Service&nbsp;</h2>
						        	        	<h2>&amp;&nbsp;</h2>
						        	        	<h2>Skyrocket Profit Margins</h2>
						        	        	<h3><u><em>*All without a Single Change in the Current Processes of Your Restaurant</em></u></h3>
      <button style="margin-top: 10px; margin-bottom: 10px; padding: 10px 20px; border: none; color: white; font-size: 1rem; cursor: pointer; border-radius: 5px;">
        <a href="/login?test=True" style="text-decoration: none; color: inherit;"><b>Test FOR FREE Now!</b>
            <span style="font-size: 1.2rem; margin-left: 5px;">&#x2192;</span>
        </a>
            
      </button>
    </div>
  
    <!-- Right Column -->
    <div style="text-align: center;">
      <video controls autoplay muted style="max-width: 300px; height: auto; border-radius: 10px;">
        <source src="/static/videos/MOM_AI_Restaurant_Promo_Video_Vertical.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
  
<!-- Hero Section -->
<div class="image-container">
    <img src="/static/images/landing_gipsy_banner.png" alt="Restaurant of the Future">
    <!--
    <div class="slogan">Generate Extra Orders and Optimize Costs of your restaurant with AI</div>
    <div class="sub-slogan">Streamline your order management, enhance customer experience, and boost profitability with our advanced AI restaurant assistant. Easy setup and seamless integration for both in-store and online environments.</div>
    <div class="subuschechka-slogan"><button onclick="location.href='#registration-form'" style="font-size: 1.2em;">Get Started Today</button></div>
    -->
</div>
  

<h1 style="text-align: center; margin-top: 5px; margin-bottom: 5px">Designed with the support and the best practices of</h1>
        <div class="image-container">
            <img src="/static/images/bulls_logos/mom_ai_bull_logos.png" alt="MOM AI Ambassadors">
</div>
<div class="container">
    <div class="link">
        <a href="https://www.producthunt.com/posts/mom-ai-restaurant-assistant?embed=true&utm_source=badge-featured&utm_medium=badge&utm_souce=badge-mom&#0045;ai&#0045;restaurant&#0045;assistant" target="_blank">
            <img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=467194&theme=dark" alt="MOM&#0032;AI&#0032;Restaurant&#0032;Assistant - Restaurant&#0032;Assistant | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" />
        </a>
    </div>
</div>



<!-- Benefits Section -->
<div id="benefits-section" class="section">
    <div class="section-header">
        <h2>Transform Your Restaurant with AI Efficiency</h2>
    </div>
    <div class="benefit-item">
        <img src="/static/images/benefits/benefits1.png" class="benefit-image">
        <h3>Automate Ordering Processes</h3>
        <p>Reduce manual work and improve accuracy in order management.</p>
    </div>
    <div class="benefit-item">
        <img src="/static/images/benefits/benefits2.webp" class="benefit-image">
        <h3>Boost Online Presence</h3>
        <p>Increase visibility and customer engagement through easy online access.</p>
    </div>
    <div class="benefit-item">
        <img src="/static/images/benefits/benefits3.jpg" class="benefit-image">
        <h3>Cost-Effective Solutions</h3>
        <p>Save on operational costs with our pay-as-you-go pricing model.</p>
    </div>
</div>

<!-- Features Section -->
<div id="features-section" class="section">
    <div class="section-header">
        <h2>Key Features of MOM AI Restaurant</h2>
    </div>
    <div class="feature-item">
        <img src="/static/images/features/features1.jpg" class="benefit-image">
        <h3>Simple Registration</h3>
        <p>Quick setup with email verification and dashboard management.</p>
    </div>
    <div class="feature-item">
        <img src="/static/images/features/features2.webp" class="benefit-image">
        <h3>In-Store and Online Deployment</h3>
        <p>Versatile AI assistant setup for both physical counters and digital platforms.</p>
    </div>
    <div class="feature-item">
        <img src="/static/images/features/features3.jpeg" class="benefit-image">
        <h3>Real-Time Order Notifications</h3>
        <p>Stay updated with instant notifications via a Telegram bot.</p>
    </div>
    <div class="feature-item">
        <img src="/static/images/features/features4.webp" class="benefit-image">
        <h3>Flexible Pricing</div>
        <p>Pay only for the services you use, with initial credits to start.</p>
        <a href="/register" style="text-decoration: none; color: inherit;">
        <button style="margin-top: 10px; margin-bottom: 10px; padding: 10px 20px; border: none; color: white; font-size: 1rem; cursor: pointer; border-radius: 5px;">
        <b>Start now!</b>
            <span style="font-size: 1.2rem; margin-left: 5px;">&#x2192;</span>
      </button>
    </a>
    </div>
    
</div>

<hr>

<!--
<div id="how-it-works-section" style="text-align: center; margin: 40px 0;">
    <h2>How It Works in Three Easy Steps</h2>
    <div>
        <h3>Register Your Restaurant</h3>
        <p>Fill in your restaurant details, menu, and logo to get started.</p>
    </div>
    <div>
        <h3>Deploy the AI Assistant</h3>
        <p>Place a tablet in-store or share the online link with customers.</p>
    </div>
    <div>
        <h3>Manage Orders Effortlessly</h3>
        <p>Use the order dashboard and receive notifications for new orders.</p>
    </div>
</div>

 
<div id="call-to-action-section" style="text-align: center; margin: 40px 0;">
    <h2>Ready to Modernize Your Restaurant?</h2>
    <button onclick="location.href='#registration-form'" style="font-size: 1.5em;">Sign Up Now</button>
</div>


<div id="social-proof-section" style="text-align: center; margin: 40px 0;">
    <h2>Success Stories</h2>
    <p>"Biryani Keflavik significantly improved their operations and profit margins by using MOM AI Restaurant Assistant. Join the growing number of satisfied restaurants transforming their business with AI."</p>
</div>
-->



<!-- Instructions Section -->
<div id="instructions" style="border-top: 1px solid black; font-family: Arial, sans-serif; max-width: 800px; margin: 20px auto; padding: 20px; background-color: #f9f9f9; border-radius: 8px;">
    <h2 style="text-align: center; margin-top: 14px; color: #2c3e50;">How to Get Started with MOM AI & What It Does</h2>
    <h3 style="text-align: center; margin-bottom: 5px; margin-top: 5px;">Video Guide</h3>
    
    <div id="register-guide" style="align-items: center; text-align: center;">
        <video class="responsive-video" controls poster="/static/images/thumbnails/Thumbnail_Registration.png">
            <source src="/static/videos/MOMAI_Registration.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>

    <p style="text-align: center; color: #7f8c8d; margin-top: 10px;">Follow these simple steps to set up your restaurant AI-assistant:</p>
    <ol style="line-height: 1.6; color: #34495e;">
        <li><strong>Sign Up for an Account (3 minutes)</strong>
            <ol style="margin-top: 10px; padding-left: 20px;">
                <li>Visit the MOM AI landing page – You're already here!</li>
                <li>Fill out the registration form with your restaurant's details and your contact information.</li>
                <li>Verify your email address by entering the code sent to your inbox.</li>
                <li>Log in and get access to your plug-and-play account dashboard. Your restaurant will be automatically displayed on the dashboard of the network of AI-empowered restaurants.</li>
            </ol>
        </li>

        <li style="margin-top: 20px;"><strong>Set Up the Assistant (2 minutes)
        <i style="display: block; margin-top: 10px; color: #7f8c8d;">In-store Setup:</i>
            <ol style="margin-top: 10px; padding-left: 20px;">
                <li>Pick up the tablet.</li>
                <li>Access the Dashboard.</li>
                <li>Click the "Assistant" tab -> "Open Directly".</li>
                <li>Press "Open [your restaurant name]'s Assistant".</li>
                <li>Place the tablet at the counter and let the assistant handle the orders.</li>
            </ol>
        <i style="display: block; margin-top: 10px; color: #7f8c8d;">Online Setup:</i>
            <ol style="margin-top: 10px; padding-left: 20px;">
                <li>Access the Dashboard.</li>
                <li>Click the "Assistant" tab -> "Get the link".</li>
                <li>Copy the link to your restaurant's AI assistant.</li>
                <li>Share the link with your customers via social media, email, or your website.</li>
                <li>Add the assistant window directly to your restaurant's website by going to the 'get the code' section and following the simple instructions.</li>
            </ol>
        </li>

        <li style="margin-top: 20px;"><strong>Monitor and Manage Orders (lifetime of profit)</strong>
            <ol style="margin-top: 10px; padding-left: 20px;">
                <li>Access the "Order Dashboard" to view incoming orders.</li>
                <li>The <a href="https://t.me/mom_ai_rest_bot" target="_blank">MOM AI Restaurant Telegram bot</a> will notify you about new orders via Telegram chat (works in the background).</li>
                <li>Track the orders' details & manage your restaurant operations efficiently.</li>
            </ol>
        </li>
    </ol>
    
    <h3 style="margin-top: 30px; color: #2c3e50;"><strong>Pricing Overview</strong></h3>
    <ul style="line-height: 1.6; color: #34495e;">
        <li>Pay as you go based on the usage of the AI assistant.</li>
        <li>Message Fee: ~0.03€ per message sent by the AI assistant.</li>
        <li>MOM AI Order Fee: 0.10€ + 1% of the total price of each successfully paid order.</li>
        <li>PayPal Order Fee: 0.35€ + 3.49% of the total price of each successfully paid order.</li>
        <li>Opt for adding MOM AI and PayPal fees to be paid by the customer, turning it into an astonishing 0% cost for you to use MOM AI service.</li>
        <li><b>No upfront payments required!</b> At the start, <b>you receive 3€</b> to cover the AI-usage and generate your first AI order!</li>
    </ul>

    <h3 style="margin-top: 30px; color: #2c3e50;"><strong>How do I access my funds?</strong></h3>
    <p style="line-height: 1.6; color: #34495e;">Once you earn 100€ on the MOM AI Restaurant platform, visit the "Withdraw Funds" section on your dashboard and request the withdrawal of your funds in a way convenient for you!</p>
    <div style="text-align: center;">
        <a href="/register" style="color: inherit;">
            <button style="margin-top: 10px; margin-bottom: 10px; padding: 10px 20px; border: none; color: white; font-size: 1rem; cursor: pointer; border-radius: 5px;">
            <b>Start now!</b>
                <span style="font-size: 1.2rem; margin-left: 5px;">&#x2192;</span>
          </button>
        </a>
    </div>
</div>


<!-- Case Study Section -->
<div class="case-study" style="margin-bottom: 10px;">
    <!-- Header Section -->
    <div class="case-study-header">
        <img src="{{ url_for('static', filename='images/biryani_logo.png') }}" alt="Biryani Keflavik Logo" class="left-img">
        <h3 style="color:#ffffff">Case Study: Biryani Keflavik</h3>
    </div>
    
    <!-- Before Section -->
    <div class="case-study-before black-bg">
        <div class="case-study-content">
            <div class="case-study-text">
                <h4 style="color:#ff6347"><b>Before:</b></h4>
                <ul class="drawbacks-list">
                    <li>Biryani Keflavik used to take orders by phone, having to disconcentrate from preparing the dishes.
                    <li>The restaurant was facing a myriad of challenges in communication with customers,<br><i>especially with those who did not speak English.</i></li>
                    <li>The website was not promoted, and the business was constantly missing out on potential prospects.</li>
                    <li>The profit on the taken order was low and, therefore, the profit margins were not at their maximum.</li>
                </ul>
            </div>
            <img src="{{ url_for('static', filename='images/caseStudy/phoneOrderTaking.jpeg') }}" alt="Phone Orders" class="right-img">
        </div>
    </div>
    
    <!-- Transition Section -->
    <div class="case-study-transition white-bg">
        <div class="case-study-content">
            <img src="{{ url_for('static', filename='images/caseStudy/foundMOMAI.jpg') }}" alt="MOM AI Restaurant Assistant" class="left-img">
            <div class="case-study-text">
                <p>Then Biryani discovered <b>MOM AI Restaurant</b>, and after a 5-minutes account setup, the business level shifted up drastically...</p>
            </div>
        </div>
    </div>
    
    <!-- Now Section -->
    <div class="case-study-now black-bg">
        <div class="case-study-content">
            <div class="case-study-text">
                <h4><span class="highlight-white">Now Biryani:</span></h4>
                <ul class="benefits-list">
                    <li><span class="highlight-white">Has completely <i>automated its ordering process</i></span></li>
                    <li><span class="highlight-white">Gets extra exposure on the Internet</span></li>
                    <li><span class="highlight-white">Gets more business</span></li>
                    <li><span class="highlight-white">Captures the orders from the audience of all languages and cultures</span></li>
                    <li><span class="highlight-white">Saves up to 10x on cashiers' costs</span></li>
                    <li><span class="highlight-white">Gets to assign more complex tasks to the employees</span></li>
                    <li><span class="highlight-white">Increased profit margins</span> with MOM AI Restaurant</li>
                </ul>
                <p>Visit <a href="https://www.biryanikeflavik.co" target="_blank" class="highlight-link" style="color:#f0f0f0"><u>Biryani Website</u></a> to see the innovation in action with your own eyes!</p>
            </div>
            <img src="{{ url_for('static', filename='images/caseStudy/peopleBuyingWithTablets.webp') }}" alt="Cooking Food" class="right-img">
        </div>
    </div>
</div>

<div style="text-align: center; margin-top: 7px; margin-bottom: 7px;">
    <a href="/register" style="color: inherit;">
        <button style="margin-top: 10px; margin-bottom: 10px; padding: 10px 20px; border: none; color: white; font-size: 1rem; cursor: pointer; border-radius: 5px;">
        <b>Start now!</b>
            <span style="font-size: 1.2rem; margin-left: 5px;">&#x2192;</span>
      </button>
    </a>
</div>

<h2 style="text-align: center;">Do you also want to boost your restaurant revenue and free up the resources?</h2>
<h3 style="text-align: center; margin-bottom: 20px;">Then simply <a href="/register" style="font-size: larger;"><u><i>fill the registration form</u></i></a> and fire up your restaurant profits!</h3>


<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/mom-ai/momagency?hide_event_type_details=1&hide_gdpr_banner=1" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->

{% endblock %}
