{% extends 'layout.html' %}

{% block content %}

<style>
.image-container {
position: relative;
display: inline-block;
}

.image-container img {
display: block;
max-width: 100%;
height: auto;
}

.image-container .slogan {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -135%);
color: white;
background-color: black;
font-size: 3em;
font-weight: bold;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
white-space: nowrap;
}
.subuschechka-slogan {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, 35%);
color: white;
background-color: black;
font-size: 1em;
font-weight: bold;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
white-space: nowrap;
padding-right: 0.3%;
}
.image-container .sub-slogan {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -20%);
color: white;
background-color: black;
font-size: 2em;
font-weight: bold;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
white-space: nowrap;
}
@media (max-width: 700px) {
   
}
</style>

{% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                    <div class="flash-message">{{ messages[-1] }}</div>
            </div>
        {% endif %}
    {% endwith %}

<div class="image-container">
    <img src="/static/images/landing_gipsy_banner.png" alt="Restaurant of the Future">
</div>

<!--
<div class="image-container">
    <img src="/static/images/restaurant-of-the-future-cropped.jpg" alt="Restaurant of the Future">
    <div class="slogan">Step into the new era of ordering</div>
    <div class="sub-slogan">*save up to 10x on staff costs & get global exposure</div>
    <div class="subuschechka-slogan"><ul>
        <li>No credit card required</li>
        <li>No upfront costs needed</li>
        <li>Novel 'pay-as-you-earn' system</li>
        <li>Fast&Easy 2-minute setup</li>
    </ul></div>
</div>
-->

<div id="upper-part" style="margin-bottom: 15px;">
<div style="text-align: center;">
    <h1 style="text-align: center;">Designed with the support and the best practices of</h1>
<!-- Carousel for logos -->
<div class="image-container">
    <img src="/static/images/bulls_logos/mom_ai_bull_logos.png" alt="MOM AI Ambassadors">
</div>
<!-- <div class="carousel">
    <img src="/static/images/bulls_logos/google-logo-png-google-sva-scholarship-20.png" alt="Logo Google">
    <img src="/static/images/bulls_logos/Paypal_2014_logo.png" alt="Logo PayPal">
    <img src="/static/images/bulls_logos/OpenAI_Logo.png" alt="Logo OpenAI">
    <img src="/static/images/bulls_logos/Telegram_logo.webp" alt="Logo Telegram">
    <img src="/static/images/bulls_logos/Heroku_logo.png" alt="Logo Heroku">
</div> -->
<hr>
   <div id="registration-form"></div>
    <h1>Welcome to MOM AI Restaurant Assistant <span style="font-size: 77%;"><a href="#instructions"><b><u>(Check the setup guide)</u></b></a></span></h1>
    <p style="margin-bottom: 10px; font-size: 25px;">Fill in the details below to get started.</p>
</div>
    <form action="/" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="restaurant_name">*Restaurant Name:</label>
            {{ form.restaurant_name }}
        </div>
        <div class="form-group">
            <label for="restaurant_url">Restaurant Website:</label>
            {{ form.restaurant_url }}
        </div>
        <div class="form-group">
            <label for="menu">Upload Menu (only Excel File - <!-- <a href='{{ url_for("serve_excel_guide") }}' target="_blank"><u>Read the guide on how to form excel menu file</u></a> or --> <a href="https://chatgpt.com/g/g-CJCHfiKMQ-mom-ai-restaurant-assistant" target="_blank"><u>Talk to MOM AI GPT and have your menu file formed!</u></a>)</label>
            <p><p style="font-size: 14px;"><b><i>please, state the prices in Euro.</i></b></p>
            <!-- <p style="font-size: 14px;"><b><i>**in case of ambiguity we will form this file for you - simply drop your menu file or webpage link on <a href="mailto:contact@mom-ai-agency.site">contact@mom-ai-agency.site</a></u></b></i></p> -->
            {{ form.menu }}
        </div>
        <!--
        <div class="form-group">
            <label for="currency">*Your restaurant currency:</label>
            <div class="radio-group">
                {{ form.currency }}
            </div>
        </div>
        -->
        <div class="form-group">
            <label for="image">Upload Your Restaurant Logo:</label>
            {{ form.image }}
        </div>
        <div class="form-group">
            <label for="email">*Input Valid Email (You Will Receive code on it):</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label for="password">*Password:</label>
            {{ form.password }}
            <p style="font-size: 14px;"><b><i>at least 8 characters</i></b></p>
        </div>
        <div class="form-group">
            <label for="confirm_password">*Confirm Password:</label>
            {{ form.confirm_password }}
        </div>
        <div class="form-group">
            {{ form.submit }}
        </div>
    </form>
    <p style="font-size: 14px;">* - required fields</p>
    <p style="font-size: 14px;">** - simply reach us on <a href="mailto:contact@mom-ai-agency.site" target="_blank">contact@mom-ai-agency.site</a></p>
    <p>Already registered? <a href="{{ url_for('login') }}"><b><u>Log In</u></b></a></p>
</div>

<!-- Instructions Section -->
<div id="instructions" style="border-top: 1px solid black; font-family: Arial, sans-serif; max-width: 800px; margin: 20px auto; padding: 20px; background-color: #f9f9f9; border-radius: 8px;">
    <h2 style="text-align: center; margin-top: 14px; color: #2c3e50;">How to Get Started with MOM AI Restaurant Assistant & What It Does</h2>
    <h3 style="text-align: center; margin-bottom: 5px; margin-top: 5px;">Video Guide</h3>
    
    <div id="register-guide" style="align-items: center; text-align: center;">
    <video class="responsive-video" controls poster="/static/images/thumbnails/Thumbnail_Registration.png">
        <source src="/static/videos/MOMAI_Registration.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    </div>

    <p style="text-align: center; color: #7f8c8d; margin-top: 10px;">Follow these simple steps to set up your restaurant AI-assistant:</p>
    <ol style="line-height: 1.6; color: #34495e;">
        <li><strong>Sign Up for an Account (3 minutes)</strong>
            <ol style="margin-top: 10px; padding-left: 20px;">
                <li>Visit the MOM AI landing page - you are here!</li>
                <li>Fill out the registration form with your restaurant's details and your contact information.</li>
                <li>Verify your email address by entering the code sent to your inbox.</li>
                <li>Get the link to your plug-and-play account dashboard in mid-June. Stay updated <a style="color: #9b59b6;" href="https://www.linkedin.com/company/100465123/admin/feed/posts/" target="_blank">here.</a></li>
            </ol>
        </li>

        <li style="margin-top: 20px;"><strong>Setup the Assistant (2 minutes)
        <i style="display: block; margin-top: 10px; color: #7f8c8d;">In-store</i>
            <ol style="margin-top: 10px; padding-left: 20px;">
                <li>Pick up the tablet</li>
                <li>Access the Dashboard after registration.</li>
                <li>Click "Assistant" tab</li>
                <li>Press "Open [your restaurant name]'s Assistant"</li>
                <li>Put the tablet at the counter of your restaurant and let the assistant handle the orders.</li>
            </ol>
        <i style="display: block; margin-top: 10px; color: #7f8c8d;">Online</i>
            <ol style="margin-top: 10px; padding-left: 20px;">
                <li>Access the Dashboard after registration.</li>
                <li>Click "Assistant" tab</li>
                <li>Copy the link to your restaurant's AI assistant</li>
                <li>Share the link with your customers via social media, email, or your website.</li>
            </ol>
        
        <li style="margin-top: 20px;"><strong>Monitor and Manage Orders (lifetime of profit)</strong>
            <ol style="margin-top: 10px; padding-left: 20px;">
                <li>Access the "Order Dashboard" to view incoming orders.</li>
                <li><a href="https://t.me/mom_ai_rest_bot" target="_blank">MOM AI Restaurant Assistant telegram bot</a> will notify you about new orders via Telegram chat(works in the background).</li>
                <li>Track the orders' details & manage your restaurant operations efficiently.</li>
            </ol>
        </li>
    </ol>
    
    <h3 style="margin-top: 30px; color: #2c3e50;"><strong>Pricing Overview</strong></h3>
    <ul style="line-height: 1.6; color: #34495e;">
        <li>Pay as you go based on the usage of the AI assistant.</li>
        <li>Message Fee: ~0.03€ per message sent by the AI assistant.</li>
        <li>MOM AI Order Fee: 0.10€+1% of the total price of each successfully paid order.</li>
        <li>PayPal Order Fee: 0.35€+3.49% of the total price of each successfully paid order.</li>
        <!-- <li>Estimated Cost per Order: Approximately $0.20 based on average message volume per chat.</li> -->
        <li><b>No upfront payments required!</b> At the start, <b>you receive 3€</b> to cover the AI-usage and generate your first AI order!</li>
    </ul>

    <h3 style="margin-top: 30px; color: #2c3e50;"><strong>How do I access my funds?</strong></h3>
    <p style="line-height: 1.6; color: #34495e;"> - Once you earn 100€ on the MOM AI Restaurant Assistant platform, you can visit the "Withdraw Funds" section on your dashboard(left upper corner) and request the withdrawal of your funds in a way convenient for you!</p>
</div>

<!-- Case Study Section -->
<div class="case-study" style="margin-bottom: 10px;">
    <!-- Header Section -->
    <div class="case-study-header">
        <img src="{{ url_for('static', filename='images/biryani_logo.png') }}" alt="Biryani Keflavik Logo" class="left-img">
        <h3 style="color:#ffffff">Case Study: Biryani Keflavik</h3>
    </div>
    
    <!-- Before Section -->
    <div class="case-study-before black-bg">
        <div class="case-study-content">
            <div class="case-study-text">
                <h4 style="color:#ff6347"><b>Before:</b></h4>
                <ul class="drawbacks-list">
                    <li>Biryani Keflavik used to take orders by phone, having to disconcentrate from preparing the dishes.
                    <li>The restaurant was facing a myriad of challenges in communication with customers,<br><i>especially with those who did not speak English.</i></li>
                    <li>The website was not promoted, and the business was constantly missing out on potential prospects.</li>
                    <li>The profit on the taken order was low and, therefore, the profit margins were not at their maximum.</li>
                </ul>
            </div>
            <img src="{{ url_for('static', filename='images/caseStudy/phoneOrderTaking.jpeg') }}" alt="Phone Orders" class="right-img">
        </div>
    </div>
    
    <!-- Transition Section -->
    <div class="case-study-transition white-bg">
        <div class="case-study-content">
            <img src="{{ url_for('static', filename='images/caseStudy/foundMOMAI.jpg') }}" alt="MOM AI Restaurant Assistant" class="left-img">
            <div class="case-study-text">
                <p>Then Biryani discovered <b>MOM AI Restaurant Assistant</b>, and after a 10-minute account setup, the business level shifted up drastically...</p>
            </div>
        </div>
    </div>
    
    <!-- Now Section -->
    <div class="case-study-now black-bg">
        <div class="case-study-content">
            <div class="case-study-text">
                <h4><span class="highlight-white">Now Biryani:</span></h4>
                <ul class="benefits-list">
                    <li><span class="highlight-white">Has completely <i>automated its ordering process</i></span></li>
                    <li><span class="highlight-white">Gets extra exposure on the Internet</span></li>
                    <li><span class="highlight-white">Gets more business</span></li>
                    <li><span class="highlight-white">Captures the orders from the audience of all languages and cultures</span></li>
                    <li><span class="highlight-white">Saves up to 10x on cashiers' costs</span></li>
                    <li><span class="highlight-white">Gets to assign more complex tasks to the employees</span></li>
                    <li><span class="highlight-white">Increased profit margins</span> with MOM AI Restaurant Assistant</li>
                </ul>
                <p>Visit <a href="https://www.biryanikeflavik.co" target="_blank" class="highlight-link" style="color:#f0f0f0"><u>Biryani Website</u></a> to see the innovation in action with your own eyes!</p>
            </div>
            <img src="{{ url_for('static', filename='images/caseStudy/peopleBuyingWithTablets.webp') }}" alt="Cooking Food" class="right-img">
        </div>
    </div>
</div>
<h2 style="text-align: center;">Do you also want to boost your restaurant revenue and free up the resources?</h2>
<h3 style="text-align: center; margin-bottom: 20px;">Then simply <a href="#registration-form" style="font-size: larger;"><u><i>fill the registration form</u></i></a> and fire up your restaurant profits!</h2>



<!-- Testimonial Section
<div class="testimonial">
    <h3>Testimonial: Placeholder Name</h3>
    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor."</p>
</div>
-->

<hr>
<h1 style="text-align: center; margin-top: 20px;">Any questions left? Have your inquiries answered.</h1>
<h2 style="text-align: center;">Book the personal call and we will set up MOM AI Restaurant Assistant for your business in no time!</h2>

<!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/mom-ai/momagency?hide_event_type_details=1&hide_gdpr_banner=1" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->



{% endblock %}

