{% extends 'layout.html' %}

{% block content %}
    <div id="login-container" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
        <h1>Login</h1>
        <p>Fill in the details below to enter your account.</p>
        <form action="{{ url_for('login') }}" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column; align-items: center;">
            {{ form.hidden_tag() }}
            {{ form.csrf_token }}
            <div class="form-group">
                <label for="email" style="text-align: left;">Email:</label>
                {{ form.email(size=23) }}
            </div>
            <div class="form-group">
                <label for="password" style="text-align: left;">Password:</label>
                <div class="input-container">
                    {{ form.password(size=23) }}
                    <!-- <input type="password" id="confirm_password" class="password-input"> -->
                    <span class="toggle-password" onclick="togglePassword('password')">👁️</span>
                </div>
            </div>
            <div style="margin-top: 7px;">
                {{ form.submit }}
            </div>
        </form>
        <p style="margin-top: 7px;">Not registered yet? <a href="{{ url_for('landing_page') }}"><b><u>Register Now</u></b></a>.</p>
    </div>

    <style>
        .form-group {
            margin-bottom: 15px;
            max-width: 300px;
            width: 80%;
            text-align: left;
        }
        .input-container {
            display: flex;
            align-items: center;
            width: 100%;
        }
        .password-input {
            flex: 1;
            padding-right: 10px;
            box-sizing: border-box;
        }
        .toggle-password {
            cursor: pointer;
            padding: 0 10px;
        }
    </style>
    <script>
        function togglePassword(fieldId) {
        var passwordField = document.getElementById(fieldId);
        var type = passwordField.type === "password" ? "text" : "password";
        passwordField.type = type;
    }
    </script>
{% endblock %}

