{% extends 'layout_no_land.html' %}

{% block content %}

<div class="block-content text-block inner-narrow align-center" style="align-items: center; text-align: center;">
    <div class="rich-text" style="padding-top:20px; padding-bottom:20px;">
        <h3><strong>✅Great, all submitted!&nbsp;</strong></h3>
        <h3><strong>Your Restaurant's AI-assistant is ready to use!</strong>👨🏼‍💻</h3>
        <p>We have sent you the welcome email with the password to your dashboard.</p>
    </div>
</div>
<div class="block-content image-block inner-narrow">
    <div style="text-align:center;">
        <a href="https://mom-ai-restaurant.pro/register" target="_blank">
            <img src="https://imageio.forbes.com/blogs-images/alejandrocremades/files/2019/02/shutterstock_644195578-1200x800.jpg" alt="Placeholder Image" width="370" height="auto"/>
        </a>
    </div>
</div>
<div class="block-content text-block inner-narrow align-center" style="align-items: center; text-align: center;">
    <div class="rich-text" style="padding-top:5px;">
        <h2>What now?</h2><br>
            1. Go to the inbox of the email you stated and grab the password we sent you.<br>
            2. Press the button below to login and step in the era of AI-empowered business.<br>⬇️
        </p>
    </div>
</div>
<div class="block-content generic-button-block inner-narrow" style="align-items: center; text-align: center; margin-top: 10px;">
    <div style="padding-bottom:20px;">
        <button onclick="window.location.href='/login'">
            Start AI-journey Now
        </button>
    </div>
</div>

{% endblock %}