{% extends 'layout.html' %}

{% block content %}
<script src="https://accounts.google.com/gsi/client" async defer></script>

<div id="reset-password-container" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
    <h1>Reset Password</h1>
    <p>Enter your new password below.</p>
    <form action="{{ url_for('reset_password', unique_azz_id=request.args.get('unique_azz_id'), reset_password_code=request.args.get('reset_password_code')) }}" method="post" enctype="multipart/form-data" style="display: flex; flex-direction: column; align-items: center;">
        {{ form.hidden_tag() }}
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="new_password" style="text-align: left;">New Password:</label>
            <div class="input-container">
                {{ form.new_password(size=23) }}
                <span class="toggle-password" onclick="togglePassword('new_password')">👁️</span>
            </div>
        </div>
        <div class="form-group">
            <label for="confirm_password" style="text-align: left;">Confirm Password:</label>
            <div class="input-container">
                {{ form.confirm_password(size=23) }}
                <span class="toggle-password" onclick="togglePassword('confirm_password')">👁️</span>
            </div>
        </div>
        <div style="margin-top: 7px;">
            {{ form.submit }}
        </div>
    </form>
</div>

<script>
    function togglePassword(fieldId) {
        var passwordField = document.getElementById(fieldId);
        var type = passwordField.type === "password" ? "text" : "password";
        passwordField.type = type;
    }
</script>

<style>
    .form-group {
        margin-bottom: 15px;
        max-width: 300px;
        width: 100%;
        text-align: left;
    }
    .input-container {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .toggle-password {
        cursor: pointer;
        padding: 0 10px;
    }
</style>
{% endblock %}