<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
   <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KFG3MR9B');</script>
    <!-- End Google Tag Manager -->

    <!-- Google tag (gtag.js) Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-TGEM2QE19E"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-TGEM2QE19E');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - MOM AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KFG3MR9B"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    
    <header>
        <img src="{{ url_for('static', filename='logos/logo_trans.png') }}" alt="{{ restaurant_name }} Logo" class="logo">
        <p class="slogan">AI-Empowered Future of Ordering Today!</p><p style="color:black">*pre-registration is going on!</p>
    </header>

    <main>
        {% block content %}
        <!-- Content overridden in child templates -->
        {% endblock %}
    </main>
    <footer>
        <p>© 2024 MOM AI. All rights reserved.</p>
    </footer>
    
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
