{% extends 'layout_order_chat.html' %}

{% block content %}
<div id="overlay" style="position: fixed; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,0.8); display: flex; flex-direction: column; justify-content: center; align-items: center; z-index: 1000;">
    <div style="background: white; padding: 20px; border-radius: 10px; text-align: center; max-width: 300px; width: 90%;">
        <h2>Select Language & Start</h2>
        <select id="languageSelectOverlay" style="margin: 10px 0; padding: 10px; width: 100%;">
            <option value="en-US">English (UK) 🇬🇧</option>
            <option value="es-ES">Spanish 🇪🇸</option>
            <option value="uk-UA">Ukrainian 🇺🇦</option>
            <option value="is-IS">Icelandic 🇮🇸</option>
            <option value="zh-CN">Chinese (Simplified) 🇨🇳</option>
            <option value="hi-IN">Hindi 🇮🇳</option>
            <option value="ar-SA">Arabic 🇸🇦</option>
            <option value="fr-FR">French 🇫🇷</option>
            <option value="ru-RU">Russian 🇷🇺</option>
            <option value="th-TH">Thai 🇹🇭</option>
            <option value="ja-JP">Japanese 🇯🇵</option>
            <option value="de-DE">German 🇩🇪</option>
            <option value="pt-BR">Portuguese 🇧🇷</option>
            <option value="yo">Yoruba 🇳🇬</option>
        </select>
        <button onclick="moveNext()" style="padding: 10px; width: 100%;">Start a new Chat</button>
        <!--
        <p style="font-size: 14px; margin-top: 5px;">Connect your web3 wallet<br>&<br>get MOM tokens upon placing the order.</p>
        <button id="connectWalletButtonOverlay" onclick="connectWallet()" style="margin-top: 10px; padding: 10px; width: 100%;">Connect Web3 Wallet</button>
        <p id="walletSuccessMessage" style="display: none; color: green; margin-top: 10px;">Wallet connected successfully!<br>Order and get MOM</p>
        -->
    </div>
</div>

<script>
    function moveNext() {

        const iframe = "{{ iframe }}" === "True" ? true : false
        console.log("Clicked Button")
        const assistantId = "{{ assistant_id }}";

        const language = document.getElementById("languageSelectOverlay").value || "en-US"

        sessionStorage.setItem("userLanguage", language)

        fetch(`/assistant_start/${assistantId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ language: language })
        })
        .then(response => response.json())
        .then(data => {
            const currentThreadId = data.thread_id;
            const currentAssistantId = data.assistant_id;

            sessionStorage.setItem("currentThreadId", currentThreadId)
            sessionStorage.setItem("currentAssistantId", currentAssistantId)

            const unique_azz_id = "{{ unique_azz_id }}"

            // console.log("Received Thread ID: ", data.thread_id);
            // console.log("Current Assistant ID: ", data.assistant_id);
            
            let goTo = `/assistant_order_chat/${unique_azz_id}/${currentThreadId}`
            if (iframe) {
                goTo += `?iframe=True`
            }

            window.location.href = goTo
        })
        .catch(error => {
            console.error("Error starting conversation: ", error);
        });
    }
</script>

{% endblock %}