{% extends 'layout_no_land.html' %}

{% block content %}

{% if show_popup %}
<!-- Popup message container -->
<div id="popup-message" class="popup">
  <div class="popup-content">
      <span class="close-button">&times;</span>
      <h1>Congratulations!</h1>
      <h2>✅Your Account Has Been Successfully Created✅</h2>
      <h3>Next Step:</h3>
        <h4>Setup Notifications in 30 seconds</li>
            <p>1. Visit <a href="https://t.me/mom_ai_rest_bot" target="_blank"><u>MOM AI Restaurant Bot</u></a> in Telegram and copy received code</p>
            <img src="/static/images/notifications_setup/code_in_tg.png" style="width:auto; max-height: 250px">
            <p>2. Go to Profile -> Notifications section and paste the obtained code</p>
            <img src="/static/images/notifications_setup/insert_code.png" style="width:auto; max-height: 250px">
            <p>3. Now you will be receiving the notification upon the incoming of the paid order</p>
            <p><i>*you can set up notifications on the multiple devices(e.g. on your phone and the ones of employees)</i></p>
  </div>
</div>

<!-- Add the CSS styles for the popup -->
<style>
  /* Popup container */
  .popup {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }

  /* Popup content */
  .popup-content {
      background-color: #fff;
      margin: 7.7% auto; /* 15% from the top and centered */
      padding: 20px;
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
      border-radius: 8px;
      text-align: center;
  }

  /* Close button */
  .close-button {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }

  .close-button:hover,
  .close-button:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }
</style>

<!-- Add the JavaScript to control the popup -->
<script>
  document.addEventListener('DOMContentLoaded', function() {
      // Get the popup
      var popup = document.getElementById('popup-message');

      // Get the <span> element that closes the popup
      var closeButton = document.getElementsByClassName('close-button')[0];

      // Show the popup when the page loads
      popup.style.display = 'block';

      // When the user clicks on <span> (x), close the popup
      closeButton.onclick = function() {
          popup.style.display = 'none';
      };

      // When the user clicks anywhere outside of the popup, close it
      window.onclick = function(event) {
          if (event.target == popup) {
              popup.style.display = 'none';
          }
      };
  });
</script>
{% endif %}

<div class="dashboard"> 
  <div class="dashboard-header">
    <div class="total-earned">
      <span><strong>Available Funds:</strong> {{ current_balance }} {{ res_currency }}</span>
      <br><span><strong>Spent on Assistant:</strong> {{ assistant_spent }} {{ res_currency }}</span>
      <br><a href="/withdraw-funds" class="withdraw-button" target="_blank"><i><u>Withdraw Funds</u></i></a>
      {% if awaiting_withdrawal > 0 %}
          <br><span><strong>Awaiting Withdrawal:</strong> {{ awaiting_withdrawal }}</span>$
      {% endif %}
      <br><i><a href="javascript:void(0);" onclick="toggleVisibilityAndConvert('currency-converter', '{{ res_currency }}');"><u>Show/Hide Currency Converter</u></a></i>
      <div id="currency-converter" style="display: none;">
          <p style="font-size: 18px;">Available Funds of <b>{{ current_balance }} {{ res_currency }}</b> in other currencies:</p>
          <span id="available-funds" style="display: none;">{{ current_balance }}</span>

          <div class="results">
              <p>UAH: <span id="uah"></span></p>
              <p>ISK: <span id="isk"></span></p>
          </div>
      </div>
  </div>


    <!-- <i style="font-size: 11px;">*the balance is automatically topped-up and subtracted<br>based on assistant usage and orders registered</i> -->
    <div class="wallet-address">
      <h1>Welcome to your dashboard, {{ restaurant_name.replace("_"," ") }}!</h1>
      <!-- <span><strong>Wallet Address:</strong> {{ wallet_address }}</span> -->
    </div>
    <div class="restaurant-name">
      <span><strong>Your Email: </strong>{{ restaurant_email }}</span>
    
      <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 7px;">
        {% if restaurant.menu_vector_id != "vector_is_not_yet" %}
        <span id="assistantStatus" style="font-family: Arial, sans-serif; color: #000; margin-right: 10px;">   
            {% if assistant_turned_on %} 
                Assistant is ON<br><p style="font-size:0.7em"><i>*the assistant is taking orders now</i></p>
            {% else %}
                Assistant is OFF<br><p style="font-size:0.7em"><i>*the assistant is <b>NOT</b> taking orders now</i></p>
            {% endif %}
        </span>
        <label class="switch">
            <input type="checkbox" id="assistantToggle" {% if assistant_turned_on %}checked{% endif %}>
            <span class="slider round"></span>
        </label>
        {% else %}
        <span id="assistantStatus" style="font-family: Arial, sans-serif; color: #000; margin-right: 10px;">
          Please, visit <b>Menu</b> tab to upload menu<br>and start using AI-assistant
        </span>
        {% endif %}
      </div>
      
      <!--
      <div style="display: flex; justify-content: space-between; align-items: center; margin-top: 7px;">
        <span id="paymentGatewayStatus" style="font-family: Arial, sans-serif; color: #000; margin-right: 10px;">   
            {% if payment_gateway_turned_on %} 
                Payment Gateway is ON
            {% else %}
                Payment Gateway is OFF
            {% endif %}
        </span>
        <label class="switch">
            <input type="checkbox" id="paymentGatewayToggle" {% if payment_gateway_turned_on %}checked{% endif %}>
            <span class="slider round"></span>
        </label>
      </div>
      <i id="paymentGatewayInfo" style="font-size: 11px;">
        {% if payment_gateway_turned_on %}
          currently the orders are being registered when the customer paid
        {% else %}
          currently customer DOES NOT pay right after taking the order,<br><b>recommended to switch the payment gateway on</b>
        {% endif %}
      </i>
    -->

    <hr>
    
    <div class="logout-section">
        <form action="/logout" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
    </div>
  </div>
</div>
  <nav class="dashboard-nav">
    <a href="/payments" class="no-right-click-tab">Payments</a>
    <!-- <a href="/settings" class="no-right-click-tab">Settings</a> -->
    <a href="/menu" class="no-right-click-tab">Menu</a>
    <a href="/assistant_dash" class="no-right-click-tab">Assistant</a>
    <a href="/profile" class="no-right-click-tab">Profile</a>
    <a href="/view_orders" class="tab" target="_blank">Orders Display</a>

  </nav>
  <section class="dynamic-content" id="dynamic-content">
      <!-- Content will be dynamically loaded here based on the tab chosen -->
  </section>
  {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                    <div class="flash-message">{{ messages[-1] }}</div>
            </div>
        {% endif %}
    {% endwith %}
  <div id="explanatoryInfo">
    <h4 style="margin-top: 35px;">What do you want?</h4>
    <ol>
      <li><i>"I want to SEE the HISTORY of MADE PAYMENTS"</i> - Click on the <b>Payments</b> tab
      <hr>
      <li><i>"I want to know WHAT IS THE CURRENT MENU the assistant refers to and, probably, UPDATE it"</i> - Click on the <b>Menu</b> tab
      <hr>
      <li><i>"I want to actually <b>start using assistant</b> and integrate it with my restaurant"</i> - Click on the <b>Assistant</b> tab
      <hr>
      <li><i>"I want to MODIFY MY PROFILE and SETUP THE NOTIFICATIONS to receive on incoming orders"</i> - Click on the <b>Profile</b> tab
      <hr>
      <li><i>"I want to OPEN THE DASHBOARD with taken orders displayed"</i> - Click on the <b>View Orders</b> tab
    </ol>          
</div>

<script>

  // Other currencies display
  function toggleVisibilityAndConvert(id, baseCurrency) {
        const element = document.getElementById(id);
        if (element.style.display === "none") {
            element.style.display = "block";
            convertCurrency(baseCurrency);  // Perform conversion when showing
        } else {
            element.style.display = "none";
        }
    }

    async function convertCurrency(baseCurrency) {
        const amount = parseFloat(document.getElementById('available-funds').innerText);
        const api_key = '{{ exchange_api_key }}';
        
          
        if (isNaN(amount) || amount <= 0) {
            alert('Invalid amount for available funds.');
            return;
        }

        try {
            const response = await fetch(`https://v6.exchangerate-api.com/v6/${api_key}/latest/${baseCurrency}`);
            const data = await response.json();

            if (data.result === "success") {
                const rates = data.conversion_rates;
                const amountInUAH = (amount * rates.UAH).toFixed(2);
                const amountInISK = (amount * rates.ISK).toFixed(2);

                document.getElementById('uah').innerText = amountInUAH+' (Ukrainian Hryvnias)';
                document.getElementById('isk').innerText = amountInISK+' (Icelandic Kronas)';
            } else {
                alert('Failed to fetch exchange rates. Please try again later.');
            }
        } catch (error) {
            console.error('Error fetching exchange rates:', error);
            alert('Failed to fetch exchange rates. Please try again later.');
        }
    }


  document.addEventListener('DOMContentLoaded', function() {
    // Get all tab elements
    var tabs = document.querySelectorAll('.no-right-click-tab'); // Updated class name
  
    // Function to handle tab click events
    function loadTabContent(event) {
      event.preventDefault(); // Prevent the default action
  
      var url = event.currentTarget.getAttribute('href'); // Get the href attribute of the clicked tab
  
      // Fetch the content from the server
      fetch(url)
        .then(response => response.text())
        .then(html => {
          // Insert the content into the <section> element
          document.getElementById('dynamic-content').innerHTML = html;
        })
        .catch(error => {
          // Handle errors if any
          document.getElementById('dynamic-content').innerHTML = '<p>Error loading content...</p>';
        });
    }
  
    // Add event listeners to all tabs
    tabs.forEach(tab => {
      tab.addEventListener('click', loadTabContent);
      tab.addEventListener('contextmenu', function (e) {
          e.preventDefault(); // Disable right-click context menu
      });
    });
  });
  </script>
      

<script>
  // Hide flash messages after 5 seconds
  var flashMessages = document.querySelector('.flash-messages');
  if (flashMessages) {
    setTimeout(function() {
      flashMessages.style.display = 'none';
    }, 7000);
  }
</script>


<script>
  document.addEventListener('DOMContentLoaded', (event) => {
      const toggle = document.getElementById('assistantToggle');
      const statusLabel = document.getElementById('assistantStatus');

      if (toggle) {
          toggle.addEventListener('change', function() {
              var assistantTurnedOn = this.checked;
              console.log('Toggle changed:', assistantTurnedOn); // Debugging: Check if the toggle is detected

              // Update the status label
              if (assistantTurnedOn) {
                  statusLabel.innerHTML = 'Assistant is ON<br><p style="font-size:0.7em"><i>*the assistant is taking orders now</i></p>';
              } else {
                  statusLabel.innerHTML = 'Assistant is OFF<br><p style="font-size:0.7em"><i>*the assistant is <b>NOT</b> taking orders now</i></p>';
              }

              // Send the assistantTurnedOn state to the server using AJAX
              var xhr = new XMLHttpRequest();
              xhr.open('POST', '/assistant_toggler', true);
              xhr.setRequestHeader('Content-Type', 'application/json');
              xhr.onreadystatechange = function() {
                  if (xhr.readyState === 4) {
                      console.log('Response received:', xhr.responseText); // Debugging: Check if the response is received
                      if (xhr.status === 200) {
                          console.log('Assistant state updated successfully.');
                      } else {
                          console.error('Error updating assistant state.');
                      }
                  }
              };
              xhr.send(JSON.stringify({ assistant_turned_on: assistantTurnedOn }));
          });
      }

      /*
      const paymentGatewayToggle = document.getElementById('paymentGatewayToggle');
      const paymentGatewayStatus = document.getElementById('paymentGatewayStatus');
      const paymentGatewayInfo = document.getElementById('paymentGatewayInfo');

      if (paymentGatewayToggle) {
          paymentGatewayToggle.addEventListener('change', function() {
              var paymentGatewayTurnedOn = this.checked;
              console.log('Payment Gateway Toggle changed:', paymentGatewayTurnedOn); // Debugging: Check if the toggle is detected

              // Update the status label
              if (paymentGatewayTurnedOn) {
                  paymentGatewayStatus.textContent = 'Payment Gateway is ON';
                  paymentGatewayInfo.textContent = 'currently the orders are being registered when the customer paid';
              } else {
                  paymentGatewayStatus.textContent = 'Payment Gateway is OFF';
                  paymentGatewayInfo.textContent = 'currently customer DOES NOT pay right after taking the order, recommended to switch the payment gateway on';
              }

              // Send the paymentGatewayTurnedOn state to the server using AJAX
              var xhr = new XMLHttpRequest();
              xhr.open('POST', '/payment_gateway_toggler', true);
              xhr.setRequestHeader('Content-Type', 'application/json');
              xhr.onreadystatechange = function() {
                  if (xhr.readyState === 4) {
                      console.log('Response received:', xhr.responseText); // Debugging: Check if the response is received
                      if (xhr.status === 200) {
                          console.log('Payment Gateway state updated successfully.');
                      } else {
                          console.error('Error updating Payment Gateway state.');
                      }
                  }
              };
              xhr.send(JSON.stringify({ payment_gateway_turned_on: paymentGatewayTurnedOn }));
          });
      }
      */    
  });

  function openTab(tabName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tab-content");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].classList.remove("active");
        }
        tablinks = document.getElementsByClassName("tab");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].classList.remove("active");
        }
        document.getElementById(tabName).classList.add("active");
        document.querySelector(`[data-tab="${tabName}"]`).classList.add("active");
    };

    if (window.location.search.includes('show_popup=True')) {
    const url = new URL(window.location);
    url.searchParams.delete('show_popup');
    window.history.pushState({}, document.title, url.pathname);
}

</script>

{% endblock %}

