{% if not from_splash_page %}
    {% if iframe %}
    {% extends 'layout_iframe.html' %}
    {% else %}
    {% extends 'layout_order_chat.html' %}
    {% endif %}
{% else %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - MOM AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
{% endif %}

<head>
    <meta name="description" content="Discover the best AI-powered restaurants in Keflavik, Iceland with MOM AI's search tool. Find locations, menus, and order food easily.">
    <link rel="canonical" href="https://mom-ai-restaurant.pro/ai-restaurants?location=Keflavík,Iceland" />
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Restaurant",
      "name": "MOM AI Restaurant Search",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "Hafnargata 18",
        "addressLocality": "Keflavik",
        "addressRegion": "Reykjanesbær",
        "postalCode": "230",
        "addressCountry": "IS"
      },
      "telephone": "+3541234567",
      "url": "https://mom-ai-restaurant.pro/ai-restaurants?location=Keflavík,Iceland"
    }
    </script>
</head>

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-messages">
            <div class="flash-message">{{ messages[-1] }}</div>
        </div>
    {% endif %}
{% endwith %}

<style>
    .button:disabled {
        border: 3px solid gray;
        background-color: gray;
        cursor: not-allowed;
    };
    body {
        min-height: 100vh; /* Ensure it takes full viewport height */
        min-width: 100vw; /* Ensure it takes full viewport width */
    }
</style>

<script src="https://cdn.jsdelivr.net/npm/web3@1.3.5/dist/web3.min.js"></script>

<div style="width: 100%; margin: auto; height: 100vh; display: flex; flex-direction: column; justify-content: space-between;">
    
    <div id="overlay" style="position: fixed; width: 100%; height: 100%; top: 0; left: 0; background: rgba(0,0,0,0.8); display: flex; flex-direction: column; justify-content: center; align-items: center; z-index: 1000;">
        <div style="background: white; padding: 20px; border-radius: 10px; text-align: center; max-width: 300px; width: 90%;">
            <h2>Select Language & Start</h2>
            <select id="languageSelectOverlay" style="margin: 10px 0; padding: 10px; width: 100%;">
                <option value="en-US">English (US) 🇺🇸</option>
                <option value="es-ES">Spanish 🇪🇸</option>
                <option value="uk-UA">Ukrainian 🇺🇦</option>
                <option value="is-IS">Icelandic 🇮🇸</option>
                <option value="zh-CN">Chinese (Simplified) 🇨🇳</option>
                <option value="hi-IN">Hindi 🇮🇳</option>
                <option value="ar-SA">Arabic 🇸🇦</option>
                <option value="fr-FR">French 🇫🇷</option>
                <option value="ru-RU">Russian 🇷🇺</option>
                <option value="th-TH">Thai 🇹🇭</option>
                <option value="ja-JP">Japanese 🇯🇵</option>
                <option value="de-DE">German 🇩🇪</option>
                <option value="pt-BR">Portuguese 🇧🇷</option>

            </select>
            <button onclick="startChat()" style="padding: 10px; width: 100%;">Start</button>
            <!--
            <p style="font-size: 14px; margin-top: 5px;">Connect your web3 wallet<br>&<br>get MOM tokens upon placing the order.</p>
            <button id="connectWalletButtonOverlay" onclick="connectWallet()" style="margin-top: 10px; padding: 10px; width: 100%;">Connect Web3 Wallet</button>
            <p id="walletSuccessMessage" style="display: none; color: green; margin-top: 10px;">Wallet connected successfully!<br>Order and get MOM</p>
            -->
        </div>
    </div>

    <div style="background-color: #000000; color: white; padding: 10px; position: fixed; top: 0; left: 0; width: 100%; display: flex; flex-direction: column; align-items: center;" id="orderHeader">
        Conversate with {{ restaurant_name.replace("_"," ") }} AI-Assistant
    </div>
    <div id="chatBox" style="overflow-y: auto; flex-grow: 1; background: white; padding: 10px; width: 100%; margin-bottom: 100px; margin-top: 55px; height: calc(100vh - 155px);">
        <div id="greetingMessage" style="text-align: center; margin: 20px; font-size: 15px;">
            {% if restaurant.res_logo %}
            <div class="restaurant-logo" style="text-align: center; margin-bottom: 10px;" id="restaurantLogo">
                <img src="{{ url_for('serve_image', file_id=restaurant.res_logo or '666af654dee400a1d635eb08') }}" alt="Restaurant Logo" style="height: auto; width: auto; max-width: 200px; max-height: 200px;">
            </div>
            {% else %}
            <div class="restaurant-logo" style="text-align: center; margin-bottom: 10px;" id="restaurantLogo">
                <img src="/static/images/Black Bold Initial AI Business Logo.png" alt="Restaurant Logo" style="height: auto; width: auto; max-width: 200px; max-height: 200px;">
            </div>  
            {% endif %}
            {% if restaurant_website_url != "No URL provided" %}
                <p id="welcomeMessage" style="margin-bottom: 7px;">Welcome at <a href='{{ restaurant_website_url }}' target="_blank"><b><u>{{ restaurant_name.replace("_"," ") }}</u></b></a>.<br>Feel free to check out the menu <a href='{{ url_for("show_restaurant_profile_public", unique_azz_id=unique_azz_id) }}' target="_blank"><b><u>here.</u></b></a><!-- <br>Click below to start ordering. --></p>
            {% else %}
                <p id="welcomeMessage">Welcome at <b><u>{{ restaurant_name.replace("_"," ") }}</u></b>. <br>I will guide you through the whole ordering journey.<!-- <br>Click below to start chatting. </p> -->
            {% endif %}
            
            {% if default_menu %}
                <p id="offMessage">{{ restaurant_name }} hasn't uploaded the menu yet. Come back later😉</p>
            {% else %}
                {% if assistant_turned_on and isWorkingHours %}
                {% else %}
                <p id="offMessage"><b>We are currently off. You will be able to make the order later.</b></p>
                {% endif %}
            {% endif %}
        </div>
    </div>

    
    <footer id="chatInputFooter" style="position: fixed; bottom: 0; left: 0; width: 100%; padding: 10px 15px; background-color: #000000; z-index: 100; box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.3); display: flex; flex-direction: column; align-items: center; margin: 0;">
        <input type="text" id="userMessage" placeholder="Type your message here..." style="width: 70%; padding: 10px; border: none; border-radius: 30px; font-size: 16px; margin-bottom: 10px;" disabled>
        
        <div style="display: flex; justify-content: center; gap: 10px; margin-top: 7px;">
            <button id="sendButton" onclick="sendMessage()" style="background: none; border: 3px solid white; color: white; border-radius: 30px; font-size: 16px; align-items: center;" class="button" disabled>Send✈️</button>
            <button id="micButton" style="background: none; border: 3px solid white; color: white; border-radius: 30px; font-size: 16px; align-items: center;" class="button" disabled>🎤</button>
            <!-- Audio button (Play / Mute) -->
            <button id="audioButton" style="background: none; font-size: 16px; align-items: center;" class="button">🔊</button>
        </div>
        
        <div id="spinner" style="display: none; position: absolute; top: 10px; right: 35px;">
            <img src="/static/assets/loading-gif.gif" alt="Loading..." style="width: 40px; height: 40px;">
        </div>
    </footer>
    
    
    <script>
        // Initialize playAudio session variable (you may want to fetch this from a backend session)
        sessionStorage.setItem('playAudio', 'true');  // Default value: true (audio on)

        // Audio button toggle logic
        document.getElementById("audioButton").addEventListener("click", function() {
            // Get the current value of playAudio from sessionStorage
            let playAudio = sessionStorage.getItem('playAudio') === 'true';
            
            // Toggle the playAudio variable
            playAudio = !playAudio;

            // Update sessionStorage with the new playAudio state
            sessionStorage.setItem('playAudio', playAudio);

            // Update the button icon based on the new state
            const audioButton = document.getElementById("audioButton");
            if (playAudio) {
                audioButton.textContent = "🔊";  // Play icon
            } else {
                audioButton.textContent = "🔇";  // Mute icon
            }
            
            console.log("Audio state changed: ", playAudio);
        });

    </script>


<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

<script>
    window.onload = function() {
    
    
    let currentThreadId = null;
    let currentAssistantId = null;
    let isRecording = false;
    let blockMicButton = false;
    let mediaRecorder;
    let audioChunks = [];
    let userLanguage = 'en-US';

    // Dictionary for translations (can be expanded)
    const restaurant_name = "{{ restaurant_name }}";
    
    const translations = {
    'en-US': {
        initialMessage: "Hello, welcome in",
        phrase: "How can I help you?",
        makeOrder: `Conversate with ${restaurant_name} AI-Assistant`,
        typeMessage: "Type your message here✍️",
        send: "Send",
        offMessage: "We are currently off. You will be able to make the order later."
    },
    'uk-UA': {
        initialMessage: "Привіт, ласкаво просимо",
        phrase: "Чим можу допомогти?",
        makeOrder: `Спілкуйтеся з ${restaurant_name} AI-асистентом`,
        typeMessage: "Введіть своє повідомлення тут✍️",
        send: "Надіслати",
        offMessage: "Зараз ми не працюємо. Ви зможете зробити замовлення пізніше."
    },
    'is-IS': {
        initialMessage: "Halló, velkomin",
        phrase: "Hvernig get ég hjálpað þér?",
        makeOrder: `Ræðið við ${restaurant_name} AI-aðstoðarmanneskju`,
        typeMessage: "Skrifaðu skilaboðin þín hér✍️",
        send: "Senda",
        offMessage: "Við erum ekki í boði eins og er. Þú munt geta pantað seinna."
    },
    'es-ES': {
        initialMessage: "Hola, bienvenido a",
        phrase: "¿Cómo puedo ayudarte?",
        makeOrder: `Converse con el asistente AI de ${restaurant_name}`,
        typeMessage: "Escriba su mensaje aquí✍️",
        send: "Enviar",
        offMessage: "Actualmente estamos cerrados. Podrá hacer el pedido más tarde."
    },
    'zh-CN': {
        initialMessage: "您好，欢迎来到",
        phrase: "我能帮您什么？",
        makeOrder: `与 ${restaurant_name} AI 助手对话`,
        typeMessage: "在这里输入您的消息✍️",
        send: "发送",
        offMessage: "我们现在不营业。稍后您可以下订单。"
    },
    'hi-IN': {
        initialMessage: "नमस्ते, में आपका स्वागत है",
        phrase: "मैं आपकी कैसे सहायता कर सकता हूँ?",
        makeOrder: `${restaurant_name} AI-सहायक के साथ बातचीत करें`,
        typeMessage: "यहां अपना संदेश टाइप करें✍️",
        send: "भेजें",
        offMessage: "हम फिलहाल बंद हैं। आप बाद में ऑर्डर कर पाएंगे।"
    },
    'ar-SA': {
        initialMessage: "مرحبا، مرحبا بكم في",
        phrase: "كيف يمكنني مساعدتك؟",
        makeOrder: `تحدث مع مساعد الذكاء الاصطناعي لـ${restaurant_name}`,
        typeMessage: "اكتب رسالتك هنا✍️",
        send: "إرسال",
        offMessage: "نحن حاليا مغلقون. ستتمكن من تقديم الطلب لاحقًا."
    },
    'fr-FR': {
        initialMessage: "Bonjour, bienvenue à",
        phrase: "Comment puis-je vous aider?",
        makeOrder: `Discutez avec l'assistant AI de ${restaurant_name}`,
        typeMessage: "Tapez votre message ici✍️",
        send: "Envoyer",
        offMessage: "Nous sommes actuellement fermés. Vous pourrez passer la commande plus tard."
    },
    'ru-RU': {
        initialMessage: "Здравствуйте, добро пожаловать в",
        phrase: "Чем могу помочь?",
        makeOrder: `Общайтесь с AI-ассистентом ${restaurant_name}`,
        typeMessage: "Введите ваше сообщение здесь✍️",
        send: "Отправить",
        offMessage: "Мы сейчас закрыты. Вы сможете сделать заказ позже."
    },
    'ja-JP': {
        initialMessage: "こんにちは、ようこそ",
        phrase: "どのようにお手伝いできますか？",
        makeOrder: `${restaurant_name} AIアシスタントと対話する`,
        typeMessage: "ここにメッセージを入力✍️",
        send: "送信",
        offMessage: "現在営業時間外です。後で注文できます。"
    },
    'de-DE': {
        initialMessage: "Hallo, willkommen in",
        phrase: "Wie kann ich Ihnen helfen?",
        makeOrder: `Unterhalten Sie sich mit dem KI-Assistenten von ${restaurant_name}`,
        typeMessage: "Geben Sie hier Ihre Nachricht ein✍️",
        send: "Senden",
        offMessage: "Wir haben derzeit geschlossen. Sie können die Bestellung später aufgeben."
    },
    'pt-BR': {
        initialMessage: "Olá, bem-vindo ao",
        phrase: "Como posso ajudar?",
        makeOrder: `Converse com o Assistente de IA de ${restaurant_name}`,
        typeMessage: "Digite sua mensagem aqui✍️",
        send: "Enviar",
        offMessage: "Estamos atualmente fechados. Você poderá fazer o pedido mais tarde."
    },
    'th-TH': {
        initialMessage: "สวัสดี ยินดีต้อนรับ",
        phrase: "ฉันจะช่วยคุณได้อย่างไร?",
        makeOrder: `สนทนากับผู้ช่วย AI ของ {{ restaurant_name }}`,
        typeMessage: "พิมพ์ข้อความของคุณที่นี่✍️",
        send: "ส่ง",
        offMessage: "ตอนนี้เราปิดอยู่ คุณสามารถสั่งซื้อได้ในภายหลัง"
    }
};




    function startChat() {
        userLanguage = document.getElementById('languageSelectOverlay').value;

        sessionStorage.setItem('userLanguage', userLanguage);
        console.log("Setup language (", userLanguage, ") in session")

        // Hide the overlay
        document.getElementById('overlay').style.display = 'none';

        // Translate the texts
        translateTexts(userLanguage);

        // Start the conversation
        startConversation();
        /*
        // Fetch MOM token balance if wallet is connected
        const account = localStorage.getItem("web3_wallet");
        if (account) {
            fetchTokenBalance(account);
        } else {
            document.getElementById('tokenBalance').innerText = 'Connect wallet to see MOM token balance';
        }
        */    
    };

    window.startChat = startChat;

    function translateTexts(language) {
        const translation = translations[language];
        document.getElementById('orderHeader').textContent = `${translation.makeOrder}`;
        document.getElementById('userMessage').placeholder = translation.typeMessage;
        document.getElementById('sendButton').textContent = translation.send;
        if (document.getElementById('offMessage')){
        document.getElementById('offMessage').textContent = translation.offMessage;
        }
    }

    function appendStarterPhrases() {
    const userLanguage = sessionStorage.getItem('userLanguage') || 'en-US';

    // Translated starter phrases for each language
    const starterPhrasesTranslations = {
        'en-US': [
            "What specials do you have?",
            "Help me with the recommendations based on my preferences.",
            "I'd like to know more about the menu.",
            "Can you assist me with today's offers?"
        ],
        'uk-UA': [
            "Які у вас є спеціальні пропозиції?",
            "Допоможіть мені з рекомендаціями на основі моїх вподобань.",
            "Я хотів би дізнатися більше про меню.",
            "Чи можете ви допомогти мені з сьогоднішніми пропозиціями?"
        ],
        'is-IS': [
        "Hvaða sértilboð hafið þið?",
        "Getið þið aðstoðað mig með tillögur út frá mínum óskum?",
        "Mig langar að vita meira um matseðilinn.",
        "Getið þið hjálpað mér með tilboðin í dag?"
        ],
        'es-ES': [
            "¿Qué especiales tienes?",
            "Ayúdame con recomendaciones según mis preferencias.",
            "Me gustaría saber más sobre el menú.",
            "¿Puedes ayudarme con las ofertas de hoy?"
        ],
        'zh-CN': [
            "你们有什么特色菜?",
            "请根据我的喜好推荐菜肴。",
            "我想了解更多菜单信息。",
            "能告诉我今天的优惠吗？"
        ],
        'hi-IN': [
            "आपके पास क्या स्पेशल हैं?",
            "मेरी पसंद के आधार पर सिफारिशें करें।",
            "मुझे मेनू के बारे में और जानना है।",
            "क्या आप आज की पेशकशों में मेरी सहायता कर सकते हैं?"
        ],
        'ar-SA': [
            "ما هي العروض الخاصة لديكم؟",
            "ساعدني في التوصيات بناءً على تفضيلاتي.",
            "أود معرفة المزيد عن القائمة.",
            "هل يمكنك مساعدتي في عروض اليوم؟"
        ],
        'fr-FR': [
            "Quels sont vos plats du jour ?",
            "Aidez-moi avec des recommandations basées sur mes préférences.",
            "J'aimerais en savoir plus sur le menu.",
            "Pouvez-vous m'aider avec les offres d'aujourd'hui ?"
        ],
        'ru-RU': [
            "Какие у вас есть специальные предложения?",
            "Помогите мне с рекомендациями на основе моих предпочтений.",
            "Я хотел бы узнать больше о меню.",
            "Можете помочь с сегодняшними предложениями?"
        ],
        'ja-JP': [
            "今日のおすすめは何ですか？",
            "私の好みに基づいたおすすめを教えてください。",
            "メニューについてもっと知りたいです。",
            "今日のオファーについて手伝ってくれませんか？"
        ],
        'de-DE': [
            "Welche Specials habt ihr?",
            "Hilf mir mit Empfehlungen basierend auf meinen Vorlieben.",
            "Ich möchte mehr über das Menü erfahren.",
            "Können Sie mir bei den heutigen Angeboten helfen?"
        ],
        'pt-BR': [
            "Quais são os especiais de hoje?",
            "Me ajude com recomendações com base nas minhas preferências.",
            "Gostaria de saber mais sobre o cardápio.",
            "Você pode me ajudar com as ofertas de hoje?"
        ],
        'th-TH': [
            "คุณมีเมนูพิเศษอะไรบ้าง?",
            "ช่วยแนะนำเมนูตามความชอบของฉันได้ไหม?",
            "ฉันอยากทราบข้อมูลเพิ่มเติมเกี่ยวกับเมนู",
            "คุณช่วยบอกโปรโมชั่นของวันนี้ได้ไหม?"
        ]

    };

    console.log("Selected language: ", userLanguage);

    
    // Get the translated phrases based on selected language
    const starterPhrases = starterPhrasesTranslations[userLanguage] || starterPhrasesTranslations['en-US'];

    const chatBox = document.getElementById('chatBox');
    const starterButtonsDiv = document.createElement('div');
    starterButtonsDiv.id = 'starterButtonsDiv';
    starterButtonsDiv.style.cssText = 'display: flex; flex-wrap: wrap; gap: 10px; justify-content: center; margin: 20px 0;';

    // Iterate through each starter phrase and create buttons
    starterPhrases.forEach(phrase => {
        const button = document.createElement('button');
        button.textContent = phrase;
        button.style.cssText = `
            background: none;
            border: 2px solid #333;
            border-radius: 20px;
            padding: 7px 14px;
            color: #333;
            font-size: 14px;
            cursor: pointer;
            white-space: normal;
            transition: background 0.3s, color 0.3s;
        `;

        // Change button style on hover
        button.onmouseover = function() {
            this.style.backgroundColor = '#333';
            this.style.color = '#fff';
        };
        button.onmouseout = function() {
            this.style.background = 'none';
            this.style.color = '#333';
        };

        // Handle button click event
        button.onclick = function() {
            sendMessage(phrase);  // Simulate user message
            starterButtonsDiv.remove();  // Remove the starter buttons after a click
        };

        starterButtonsDiv.appendChild(button);
    });

    chatBox.appendChild(starterButtonsDiv);
    scrollToBottom(starterButtonsDiv);  // Scroll to the bottom when adding buttons
}

    function startConversation() {
        const assistantId = "{{ assistant_id }}";
        fetch(`/assistant_start/${assistantId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ assistant_id: '{{ assistant_id }}' })
        })
        .then(response => response.json())
        .then(data => {
            currentThreadId = data.thread_id;
            currentAssistantId = data.assistant_id;

            // console.log("Received Thread ID: ", data.thread_id);
            // console.log("Current Assistant ID: ", data.assistant_id);
            
            document.getElementById('restaurantLogo').style.display = 'none';
            document.getElementById('welcomeMessage').style.display = 'none';

            const translation = translations[userLanguage];
            const initialMessage = `${translation.initialMessage} {{ restaurant_name.replace('_', ' ') }}.<br>${translation.phrase}`;
            
            {% if assistant_turned_on and isWorkingHours %}
            appendMessage(initialMessage, 'assistant');
            const unique_azz_id = "{{ unique_azz_id }}"
            const intro_url = `https://mom-ai-restaurant-images.s3.eu-north-1.amazonaws.com/restaurant_intros/intro_${unique_azz_id}.mp4`
            // console.log(intro_url)
            appendMessage(intro_url, 'assistant', true);
            appendStarterPhrases();  // Append starter phrases here
            {% endif %}

            enableInput();
        })
        .catch(error => {
            console.error("Error starting conversation: ", error);
        });
    }

    function enableInput() {
        /*
        const spinner = document.getElementById('spinner');
        
        if (spinner) {
        spinner.style.display = 'none';
        showWittyPhrase(false);
        };
        */

        console.log("Enabling input fields and buttons");
        document.getElementById('userMessage').disabled = false;
        document.querySelector('button[onclick="sendMessage()"]').disabled = false;
        document.getElementById('micButton').disabled = false;
        console.log("Input and buttons ENABLED");
    }

    function disableInput() {
        /*
        const spinner = document.getElementById('spinner');
        
        if (spinner) {
        spinner.style.display = 'block';
        showWittyPhrase(true);
        };
        */

        console.log("Disabling input fields and buttons");
        document.getElementById('userMessage').disabled = true;
        document.getElementById('userMessage').value = '';
        document.querySelector('button[onclick="sendMessage()"]').disabled = true;
        document.getElementById('micButton').disabled = true;
        console.log("Input and buttons DISABLED");
    }


    
    window.sendMessage = async function sendMessage(message=null) {
      console.log(`Message within the sendMessage function (right off the bat) ${message}`)
      
      let userMessage;
     
      if (!message){
       userMessage = document.getElementById('userMessage').value;
    } else {
        userMessage = message;
    }

    disableInput();

    console.log("Send button clicked");
    console.log("User message: ", userMessage);
    if (userMessage.trim() === '') {
        console.log("Empty message, not sending.");
        enableInput();
        return;
    };

    // Reset flags for the new message
    messageAppended = false;   // Reset message appended flag
    audioPlayed = false;       // Reset audio played flag

    appendMessage(userMessage, 'user');

    const unique_azz_id = "{{ unique_azz_id }}";
    let llmResponse;

    const formData = new FormData();
    let userLanguage = sessionStorage.getItem('userLanguage');
    
    formData.append('message', userMessage);
    formData.append('language', userLanguage);
    formData.append('thread_id', currentThreadId);
    formData.append('assistant_id', currentAssistantId);

    console.log("Form Data we send")
    console.log(formData)

    const response = await fetch(`/generate_response_streaming/${unique_azz_id}`, {
        method: 'POST',
        body: formData
    });

    // First, create a message pill and get the messageDiv for updates
    const messageDiv = appendAssistantMessagePill();
    
    const reader = response.body.getReader();
    let output = "";
    while (true) {
        const { done, value } = await reader.read();
        
        let decoded_value = new TextDecoder().decode(value)

        output += decoded_value;

        if (decoded_value.includes("payment_buffer")) {
            sessionStorage.setItem("next_link", output)
            window.location.href = "/takeaway_delivery/{{ unique_azz_id }}";
            return;
        }

        if (decoded_value.includes("Thank you very much! You ordered")){
            const unique_azz_id = "{{ unique_azz_id }}";
            sessionStorage.setItem("next_link", `/no-payment-order-placed/${unique_azz_id}`)
            window.location.href = `/takeaway_delivery/${unique_azz_id}`;
            return;
        }

        messageDiv.innerHTML = marked.parse(output);  // Update the messageDiv dynamically with new text

        if (done) {
            console.log("Response stream is done!")
            break;
        }

        // Optionally, scroll to the bottom to keep the view updated
        scrollToBottom(messageDiv);
    }

    enableInput();

    // await generateVoiceOutputStreaming(output);

    let playAudio = sessionStorage.getItem('playAudio') === "true";

    console.log(`Play audio value ${playAudio}`)

    if (playAudio) {
        console.log("Play Audio")
        generateVoiceOutput(output);
    } else {
        console.log("Not Play Audio")
    }
};

// Generate voice output for the assistant's response
async function generateVoiceOutputStreaming(llmResponse) {
    // if (audioPlayed) return;  // Prevent multiple calls to this function
    // audioPlayed = true;  // Set the flag to true after the first execution

    console.log("Entered voice function")
    
    const unique_azz_id = "{{ unique_azz_id }}";
    const userLanguage = sessionStorage.getItem('userLanguage');

    const voiceFormData = new FormData();
    voiceFormData.append('full_gpts_response', llmResponse);
    voiceFormData.append('language', userLanguage);

    const response = await fetch(`/generate_voice_output_streaming/${unique_azz_id}`, {
        method: 'POST',
        body: voiceFormData
    });

    const reader = response.body.getReader();
    let outputBuffer = [];  // Buffer to store 3 outputs

    while (true) {
        const { done, value } = await reader.read();
        const outputChunk = new TextDecoder().decode(value);

        console.log("Chunk received: ", outputChunk);

        // Add the current chunk to the buffer
        outputBuffer.push(outputChunk);

        // If we have 3 chunks in the buffer, concatenate them and pass to speakText
        if (outputBuffer.length === 40) {
            const combinedOutput = outputBuffer.join(" ");
            console.log("Combined output to pass to speakText: ", combinedOutput);

            // Play the combined output
            await speakText(combinedOutput);

            // Clear the buffer
            outputBuffer = [];
        }

        if (done) {
            console.log("No more chunks to read. Finishing up...");

            // If there's remaining output in the buffer, speak it
            if (outputBuffer.length > 0) {
                const remainingOutput = outputBuffer.join(" ");
                console.log("Final output to speak: ", remainingOutput);
                await speakText(remainingOutput);
            }

            break;
        }
    }
}

function speakText(text) {
    console.log("Started Speaking text: ", text)
    
    // Cancel any ongoing utterance
    speechSynthesis.cancel();
    
    return new Promise((resolve) => {
        const utterance = new SpeechSynthesisUtterance(text);
        utterance.onend = resolve;  // When speech ends, resolve the promise
        speechSynthesis.speak(utterance);
    });
}


// Generate voice output for the assistant's response
function generateVoiceOutput(llmResponse) {
    if (audioPlayed) return;  // Prevent multiple calls to this function
    audioPlayed = true;  // Set the flag to true after the first execution

    const unique_azz_id = "{{ unique_azz_id }}";
    const userLanguage = sessionStorage.getItem('userLanguage');

    const voiceFormData = new FormData();
    voiceFormData.append('full_gpts_response', llmResponse);
    voiceFormData.append('language', userLanguage);

    fetch(`/generate_voice_output/${unique_azz_id}`, {
        method: 'POST',
        body: voiceFormData
    })
    .then(response => response.json())  // Parse the JSON response
    .then(data => {
        console.log("Received response with video and audio links");

        // Play the audio
        const audioUrl = data.audio_file_url;
        fetch(audioUrl)
            .then(response => response.blob())
            .then(audioBlob => {
                const audioObjectUrl = window.URL.createObjectURL(audioBlob);
                const audio = new Audio(audioObjectUrl);
                audio.play();  // Play the audio response
                
            })
            .catch(error => console.error("Error playing audio: ", error));

        // Handle the video URL
        const videoUrl = data.video_url;
        console.log("Video URL: ", videoUrl);
        if (videoUrl) {
            // Append video message to the chat
            console.log("Start appending video")
            appendMessage(videoUrl, 'assistant', true);  // The third argument (true) indicates this is a video
        }
        // Do something with the video URL (e.g., display or link)
    })
    .catch(error => {
        console.error("Error generating voice output: ", error);
    });
}




    window.showWittyPhrase = function showWittyPhrase(visible, voice_input=false) {
        const phrases = {
 'en-US': [
            "Your Order is Our Command! ✨",
            "The Beauty in Simplicity 😮‍💨",
            "Love is AI Serving You 💓",
            "Prepare for the Tasty Journey 😋",
            "Don't Worry, Just Eat It! 🍽️"
        ],
        'uk-UA': [
            "Ваше замовлення — це наш наказ! ✨",
            "Краса в простоті 😮‍💨",
            "Любов — це AI, що служить вам 💓",
            "Приготуйтеся до смачної подорожі 😋",
            "Не хвилюйтеся, просто їжте! 🍽️"
        ],
        'is-IS': [
        "Pöntunin þín er skipun okkar! ✨",
        "Fegurðin felst í einfaldleikanum 😮‍💨",
        "Ástin er AI sem þjónar þér 💓",
        "Undirbúðu þig fyrir ljúffenga ferð 😋",
        "Ekki hafa áhyggjur, bara borðaðu það! 🍽️"
        ],
        'es-ES': [
            "¡Tu pedido es nuestra orden! ✨",
            "La belleza está en la simplicidad 😮‍💨",
            "El amor es la IA sirviéndote 💓",
            "Prepárate para un viaje sabroso 😋",
            "¡No te preocupes, solo cómelo! 🍽️"
        ],
        'zh-CN': [
            "您的订单就是我们的命令！✨",
            "简单就是美 😮‍💨",
            "爱就是AI为您服务 💓",
            "准备好美味的旅程吧 😋",
            "别担心，尽情享受吧！🍽️"
        ],
        'hi-IN': [
            "आपका ऑर्डर हमारा हुक्म है! ✨",
            "सरलता में सुंदरता है 😮‍💨",
            "AI का प्यार आपको सेवा दे रहा है 💓",
            "स्वादिष्ट यात्रा के लिए तैयार हो जाइए 😋",
            "चिंता मत करें, बस खाइए! 🍽️"
        ],
        'ar-SA': [
            "طلبك هو أمرنا! ✨",
            "الجمال في البساطة 😮‍💨",
            "الحب هو أن يخدمك الذكاء الاصطناعي 💓",
            "استعد للرحلة اللذيذة 😋",
            "لا تقلق، فقط تناول الطعام! 🍽️"
        ],
        'fr-FR': [
            "Votre commande est notre commande ! ✨",
            "La beauté dans la simplicité 😮‍💨",
            "L'amour, c'est l'IA qui vous sert 💓",
            "Préparez-vous pour un voyage savoureux 😋",
            "Ne vous inquiétez pas, mangez simplement ! 🍽️"
        ],
        'ru-RU': [
            "Ваш заказ — наш приказ! ✨",
            "Красота в простоте 😮‍💨",
            "Любовь — это ИИ, служащий вам 💓",
            "Приготовьтесь к вкусному путешествию 😋",
            "Не волнуйтесь, просто ешьте! 🍽️"
        ],
        'ja-JP': [
            "ご注文は私たちの使命です！✨",
            "シンプルさの美しさ 😮‍💨",
            "AIがあなたに奉仕する愛 💓",
            "美味しい旅に備えて 😋",
            "心配せずに、ただ食べて！🍽️"
        ],
        'de-DE': [
            "Dein Auftrag ist unser Befehl! ✨",
            "Die Schönheit liegt in der Einfachheit 😮‍💨",
            "Liebe ist, wenn KI dir dient 💓",
            "Mach dich bereit für die leckere Reise 😋",
            "Keine Sorge, iss einfach! 🍽️"
        ],
        'pt-BR': [
            "Seu pedido é a nossa ordem! ✨",
            "A beleza está na simplicidade 😮‍💨",
            "O amor é a IA servindo você 💓",
            "Prepare-se para a jornada saborosa 😋",
            "Não se preocupe, apenas coma! 🍽️"
        ],
        'th-TH': [
            "คำสั่งของคุณคือคำสั่งของเรา! ✨",
            "ความงามอยู่ที่ความเรียบง่าย 😮‍💨",
            "ความรักคือ AI ที่ให้บริการคุณ 💓",
            "เตรียมพร้อมสำหรับการเดินทางที่อร่อย 😋",
            "ไม่ต้องกังวล แค่กินมัน! 🍽️"
        ]
};

        const userLanguage = sessionStorage.getItem('userLanguage');
        console.log(`User Language ${userLanguage}`)

        const phraseDisplay = document.getElementById('wittyPhrase');
        if (visible) {
            const randomPhrase = phrases[userLanguage][Math.floor(Math.random() * phrases[userLanguage].length)];
            if (phraseDisplay) {
                phraseDisplay.textContent = randomPhrase;
                phraseDisplay.style.display = 'block';
            }
        } else if (visible && voice_input) {  
            phraseDisplay.textContent = "Please, speak your truth NOW!";
            phraseDisplay.style.display = 'block'; 
        } else {
            if (phraseDisplay) {
                phraseDisplay.style.display = 'none';
            }
        }
    }

     



    const footer = document.getElementById('chatInputFooter');
    const wittyPhraseDiv = document.createElement('div');
    wittyPhraseDiv.id = 'wittyPhrase';
    wittyPhraseDiv.style.marginBottom = '20px';
    wittyPhraseDiv.style.marginRight = '7px';
    wittyPhraseDiv.style.fontSize = '16px';
    wittyPhraseDiv.style.display = 'none';
    footer.insertBefore(wittyPhraseDiv, footer.firstChild);

    function appendAssistantMessagePill() {
    // Create a message pill div
    const messageDiv = document.createElement('div');
    messageDiv.style.cssText = `
        margin: 10px;
        padding: 15px;
        border-radius: 15px;
        font-family: 'Arial', sans-serif;
        font-size: 16px;
        max-width: 80%;
        background-color: #333; /* Dark background for assistant */
        color: #ffffff; /* White text for contrast */
        text-align: right;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        word-wrap: break-word;
    `;

    // Create the message container
    const messageContainer = document.createElement('div');
    messageContainer.style.cssText = `
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-bottom: 10px; /* Add margin instead of position */
        justify-content: flex-end; /* Align the message to the right side */
    `;

    // Create icon container for assistant
    const iconDiv = document.createElement('div');
    iconDiv.style.cssText = 'width: 40px; height: 40px; border-radius: 50%; overflow: hidden; margin: 10px; flex-shrink: 0;';

    // Add assistant icon image
    const assistantIcon = document.createElement('img');
    assistantIcon.src = '{{ url_for("serve_image", file_id=restaurant.res_logo or "666af654dee400a1d635eb08") }}'; // Assistant icon source
    assistantIcon.style.width = '40px';
    assistantIcon.style.height = '40px';
    assistantIcon.style.objectFit = 'cover';
    iconDiv.appendChild(assistantIcon);

    // Append the message div and icon div to the message container
    messageContainer.appendChild(messageDiv); // Message pill on the right
    messageContainer.appendChild(iconDiv);    // Icon next to it

    // Append the messageContainer to the chatBox (assuming chatBox is your chat window)
    document.getElementById('chatBox').appendChild(messageContainer);

    // Scroll to the bottom of the chat window
    scrollToBottom(messageContainer);

    // Return the messageDiv so it can be updated later if needed
    return messageDiv;
}


function scrollToBottom(element) {
    element.scrollIntoView({ behavior: 'smooth' });
}


    function appendMessage(message, sender, isVideo = false) {
    let isRichContent = false;


    const messageDiv = document.createElement('div');
    messageDiv.style.cssText = `
        margin-top: 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-bottom: 10px; /* Reduce the bottom margin */
        padding: 15px;
        border-radius: 15px;
        font-family: 'Arial', sans-serif;
        font-size: 16px;
        line-height: 1.6;
        word-wrap: break-word;
        max-width: 80%;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column; /* Ensures the text and video are stacked */
        align-items: flex-start;
    `;


    


    if (sender === 'user') {
        const starterButtonsDiv = document.getElementById("starterButtonsDiv");
        if (starterButtonsDiv) {  // Check if the element exists
            starterButtonsDiv.style.display = "none";
            console.log("Hid button section");
        } else {
            console.log("Element 'starterButtonsDiv' not found.");
        }
    }

    if (sender === 'assistant') {
    // Regular expressions to check for specific markdown elements
    const markdownPatterns = [
        /#{1,6}\s/,    // Headings (#, ##, ###, etc.)
        /\*\*.*?\*\*/, // Bold (**bold**)
        /\*.*?\*/,     // Italics (*italics*)
        /\[.*?\]\(.*?\)/, // Links [text](url)
        /`.*?`/,       // Inline code (`code`)
        /```[\s\S]*?```/ // Code blocks (```code```)
    ];

    if (message.includes("/payment_buffer") && sender === "assistant"){
        sessionStorage.setItem("next_link", message)
        window.location.href = "/takeaway_delivery/{{ unique_azz_id }}";
        // appendMessage(llmResponse, "assistant")
        return; // Terminate the function here
    };

    if (message.includes("Thank you very much! You ordered") && sender === "assistant"){
        const unique_azz_id = "{{ unique_azz_id }}"
        sessionStorage.setItem("next_link", `/no-payment-order-placed/${unique_azz_id}`)
        window.location.href = "/takeaway_delivery/{{ unique_azz_id }}";
        // appendMessage(llmResponse, "assistant")
        return; // Terminate the function here
    }

    // Check if any markdown pattern is found in the message
    const containsMarkdown = markdownPatterns.some((pattern) => pattern.test(message));

    // Configuration to allow raw HTML inside Markdown
    marked.setOptions({
        breaks: true,            // Enable line breaks in markdown
        gfm: true,               // GitHub flavored markdown
        sanitize: false,         // Allow raw HTML inside Markdown (important for your use case)
    });
    
    if (containsMarkdown) {
        try {
            message = marked.parse(message);  // Convert Markdown to HTML
            isRichContent = true;  // Indicate that the content is rich (contains HTML)
        } catch (error) {
            console.error("Marked conversion error: ", error);
            message = message;  // Fallback to plain message in case of error
        }
    } else {
        isRichContent = false;  // No markdown detected, so no rich content
    }
}

    // If it's rich content, directly insert HTML; otherwise, treat as plain text
    if (isRichContent) {
        messageDiv.innerHTML = message;  // Insert the HTML content directly
    } else {
        messageDiv.textContent = message;  // For plain text, use textContent
    }

    const iconDiv = document.createElement('div');
    iconDiv.style.cssText = 'width: 40px; height: 40px; border-radius: 50%; overflow: hidden; margin: 10px; flex-shrink: 0;';

    const messageContainer = document.createElement('div');

    if (sender === 'user') {
        messageDiv.style.backgroundColor = '#f1f1f1';
        messageDiv.style.color = '#333';
        messageDiv.style.textAlign = 'left';

        const userIcon = document.createElement('img');
        userIcon.src = '/static/images/user_icon.png';
        userIcon.style.width = '100%';
        userIcon.style.height = '100%';
        userIcon.style.objectFit = 'cover';
        iconDiv.appendChild(userIcon);

        // Style for the message container
        messageContainer.style.cssText = `
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            margin-bottom: 20px; /* Add margin instead of position */
        `;

        // Assuming 'chat-footer' has relative positioning
        const chatFooter = document.getElementById('chatInputFooter');
        const chatFooterRect = chatFooter.getBoundingClientRect();
        messageContainer.style.left = `${chatFooterRect.left}px`; // Align message with chat-footer if needed

        messageContainer.appendChild(iconDiv);
        messageContainer.appendChild(messageDiv);
    } else if (sender === 'assistant') {
        messageDiv.style.backgroundColor = '#333';
        messageDiv.style.color = '#ffffff';
        messageDiv.style.textAlign = 'right';

        const assistantIcon = document.createElement('img');
        assistantIcon.src = '{{ url_for("serve_image", file_id=restaurant.res_logo or "666af654dee400a1d635eb08") }}';
        assistantIcon.style.width = '40px';
        assistantIcon.style.height = '40px';
        assistantIcon.style.objectFit = 'cover';
        iconDiv.appendChild(assistantIcon);

        // Style for the message container
        messageContainer.style.cssText = `
            display: flex;
            flex-direction: row-reverse;
            align-items: flex-start;
            margin-bottom: 120px; /* Add margin instead of position */
        `;
        if (!isVideo) {
        messageContainer.appendChild(iconDiv);
        messageContainer.appendChild(messageDiv);
        } else {
        console.log("Entered appending video")
        // Create a video element and append it to the messageDiv
        const videoElement = document.createElement('video');
        // videoElement.src = 'https://d-id-talks-prod.s3.us-west-2.amazonaws.com/google-oauth2%7C109894292927535905362/tlk_cu4eQaljDCglGT6pXunS0/1726408538427.mp4?AWSAccessKeyId=AKIA5CUMPJBIK65W6FGA&Expires=1726494941&Signature=uCivb21cEeGMl6TLSN%2F6LZDJpvw%3D';  // message is the video URL in this case
        videoElement.src = message;
        videoElement.autoplay = true;
        videoElement.style.maxWidth = '85%';
        videoElement.style.height = 'auto';
        videoElement.style.marginTop = '0px';
        videoElement.style.marginRight = '40px';
        videoElement.style.borderRadius = '15px';
 
        // console.log('Created video element:', videoElement);

        messageContainer.appendChild(videoElement);
        }

    } else if (sender === 'system') {
        messageDiv.style.backgroundColor = '#4CAF50';
        messageDiv.style.color = 'white';
        messageDiv.style.textAlign = 'center';

        messageContainer.style.cssText = 'display: flex; flex-direction: column; align-items: center;';
        messageContainer.appendChild(messageDiv);
    }

    document.getElementById('chatBox').appendChild(messageContainer);
    scrollToBottom(messageContainer);

    console.log(`IsRichContent value: ${isRichContent}`)

    // If not rich content and sender is assistant, apply word-by-word effect
    if (!isRichContent) {
        displayWord(messageDiv, message);
    }
}

// Word-by-word display function, only used for non-rich content
function displayWord(element, message) {
    const words = message.split(' ');
    element.innerHTML = '';  // Clear the content first

    let wordIndex = 0;

    function showNextWord() {
        if (wordIndex < words.length) {
            element.innerHTML += words[wordIndex] + ' ';
            wordIndex++;
            setTimeout(showNextWord, 257);  // Adjust delay as needed
        }
    }

    showNextWord();
};

const micButton = document.getElementById('micButton');
    micButton.addEventListener('click', () => {
        if (isRecording && !blockMicButton) {
            mediaRecorder.stop();
            micButton.textContent = '🎤';
            const spinner = document.getElementById('spinner');
            spinner.style.display = 'none';
        } else if (!isRecording && blockMicButton) {
            mediaRecorder.stop();
            micButton.textContent = '🎤';
            const spinner = document.getElementById('spinner');
            spinner.style.display = 'none';
        } else {
            startRecording();
            micButton.textContent = '⏹️';
            const spinner = document.getElementById('spinner');
            spinner.style.display = 'block';
        }
        isRecording = !isRecording;
    });

    
    async function startRecording() {
    
        // Reset flags for the new message
    messageAppended = false;   // Reset message appended flag
    audioPlayed = false;       // Reset audio played flag
    
    const stream = await navigator.mediaDevices.getUserMedia({ audio: true });
    mediaRecorder = new MediaRecorder(stream, { mimeType: 'audio/webm' });

    mediaRecorder.ondataavailable = event => {
        audioChunks.push(event.data);
    };

    mediaRecorder.onstop = async () => {
        disableInput();
        mediaRecorder.stop();
    
        const audioBlob = new Blob(audioChunks, { type: 'audio/webm' });
        const formData = new FormData();
        formData.append('file', audioBlob, 'audio.webm');
        const userLanguage = sessionStorage.getItem('userLanguage');
        formData.append('language', userLanguage);

        try {
            const spinner = document.getElementById('spinner'); 
            const userMessageInput = document.getElementById('userMessage');
            const sendButton = document.querySelector('button[onclick="sendMessage()"]');
            const micButton = document.getElementById('micButton');
            
            blockMicButton = true;
            
            /*
            if (spinner) {
                spinner.style.display = 'block';
                showWittyPhrase(true);
                console.log("Displayed witty phrase!")
            }
            if (userMessageInput) userMessageInput.disabled = true;
            if (sendButton) sendButton.disabled = true;
            if (micButton) micButton.disabled = true;
            */

            // Transcribe voice
            const transcribeResponse = await fetch('/transcribe_voice', {
                method: 'POST',
                body: formData
            });

            const transcribeData = await transcribeResponse.json();
            
            if (transcribeData.status === 'success') {
                const transcription = transcribeData.transcription;
                // appendMessage(transcription, "user");

                disableInput();

                await sendMessage(transcription);

                /*
                // Create a new FormData for the response generation
                const responseFormData = new FormData();
                responseFormData.append('message', transcription);
                responseFormData.append('thread_id', currentThreadId);
                responseFormData.append('assistant_id', currentAssistantId);
                responseFormData.append('language', userLanguage);

                const unique_azz_id = "{{ unique_azz_id }}";

                // Trigger the Celery task for response generation
                const triggerResponse = await fetch(`/trigger_generate_response/${unique_azz_id}`, {
                    method: 'POST',
                    body: responseFormData
                });

                const triggerData = await triggerResponse.json();
                const taskId = triggerData.task_id;  // Get the task ID

                // Poll the task status
                pollTaskStatus(taskId);

                // showWittyPhrase(false);
 
                */ 
            } else {
                appendMessage('Transcription failed. Please try again.', 'system');
                enableInput();
            }
        } catch (error) {
            appendMessage('An error occurred. Please try again.', 'system');
            enableInput();
        } finally {
            enableInput();
            audioChunks = [];
        }

        stream.getTracks().forEach(track => track.stop());
    };

    mediaRecorder.start();
}


    window.appendMessage = appendMessage;

    /*
    function scrollToBottom(element) {
        const chatBox = document.getElementById('chatBox');
        chatBox.scrollTop = element.offsetTop + element.offsetHeight;
    }
    */



    window.scrollToBottom = scrollToBottom;

    var flashMessages = document.querySelector('.flash-messages');
    if (flashMessages) {
        setTimeout(function() {
            flashMessages.style.display = 'none';
        }, 5000);
    }
}


    /*
    async function speak(text) {
        const synthesis = window.speechSynthesis;
        const utterance = new SpeechSynthesisUtterance(text);
        
        let userLanguage = sessionStorage.getItem('userLanguage');
        console.log("The language user selected on start (accessed from speak function): ", userLanguage)
        
        // utterance.lang = document.getElementById('languageSelect').value;
        utterance.lang = userLanguage;
        synthesis.speak(utterance);
    }

    window.speak = speak;
    */
    
    
</script>


{% endblock %}