{% if iframe %}
{% extends 'layout_iframe.html' %}
{% else %}
{% extends 'layout_no_land.html' %}
{% endif %}

{% block content %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-messages">
            <div class="flash-message">{{ messages[-1] }}</div>
        </div>
    {% endif %}
{% endwith %}

<div style="width: 90%; max-width: 400px; margin: auto; height: 80vh; display: flex; flex-direction: column; justify-content: space-between;">
    
    <header style="background-color: #000000; color: white; padding: 10px; text-align: center;">
        Make the Order in {{ restaurant_name.replace("_"," ") }}
    </header>
    <div id="chatBox" style="overflow-y: auto; flex-grow: 1; background: white; padding: 10px;">
        <!-- Initial greeting message -->
        <div id="greetingMessage" style="text-align: center; margin: 20px; font-size: 15px;">
            <!-- Logo display -->
            {% if restaurant.res_logo %}
            <div class="restaurant-logo" style="text-align: center; margin-bottom: 10px;" id="restaurantLogo">
                <img src="{{ url_for('serve_image', file_id=restaurant.res_logo or '666af654dee400a1d635eb08') }}" alt="Restaurant Logo" style="height: auto; width: auto; max-width: 200px; max-height: 200px;">
            </div>
            {% else %}
            <div class="restaurant-logo" style="text-align: center; margin-bottom: 10px;" id="restaurantLogo">
                <img src="/static/images/Black Bold Initial AI Business Logo.png" alt="Restaurant Logo" style="height: auto; width: auto; max-width: 200px; max-height: 200px;">
            </div>  
            {% endif %}
            {% if restaurant_website_url != "No URL provided" %}
                <p id="welcomeMessage" style="margin-bottom: 7px;">Welcome at <a href='{{ restaurant_website_url }}' target="_blank"><b><u>{{ restaurant_name.replace("_"," ") }}</u></b></a>.<br>Feel free to check out the menu <a href='{{ url_for("show_restaurant_profile_public", unique_azz_id=unique_azz_id) }}' target="_blank"><b><u>here.</u></b></a><br>Click below to start ordering.</p>
                
            {% else %}
                <p id="welcomeMessage">Welcome at <b><u>{{ restaurant_name.replace("_"," ") }}</u></b>. <br>I will guide you through the whole ordering journey.<br>Click below to start chatting. </p>
            {% endif %}
            {% if assistant_turned_on and isWorkingHours %}
            <button id="startChatButton" onclick="startConversation()" style="padding: 10px 20px; font-size: 16px; background-color: #000000; color: white; border: none; border-radius: 5px;">Start New Chat</button>
            {% else %}
            <p><b>We are currently off. You will be able to take the order later.</b></p>
            {% endif %}
            
        </div>
    </div>
    <footer id="chatInputFooter" style="background-color: #000000; color: white; padding: 10px; position: relative;">
        <input type="text" id="userMessage" placeholder="Type your message here..." style="width: 85%; padding: 10px; border: none; font-size: 16px;" disabled>
        <button onclick="sendMessage()" style="background: none; border: 3px solid white; color: white; font-size: 16px; align-items: center; margin-top: 7px;" disabled>Send</button>
        <!-- spinner yuhuu! -->
        <div id="spinner" style="display: none; position: absolute; top: 10px; right: 10px;">
            <img src="/static/assets/loading-gif.gif" alt="Loading..." style="width: 50px; height: 50px;">
        </div>
    </footer>
</div>

<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
    window.onload = function() {
    console.log("Window loaded");

    let currentThreadId = null;  // This will be set when the user starts a new conversation
    let currentAssistantId = null;  // This will be set with the assistant's ID when starting a new conversation

    function startConversation() {
        const assistantId = "{{ assistant_id }}";
        fetch(`/assistant_start/${assistantId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ assistant_id: '{{ assistant_id }}' })  // Use assistant_id from the server
        })
        .then(response => response.json())
        .then(data => {
            currentThreadId = data.thread_id;
            currentAssistantId = data.assistant_id;
            
            // Hide the logo, greeting message, and button
            document.getElementById('restaurantLogo').style.display = 'none';
            document.getElementById('welcomeMessage').style.display = 'none';
            document.getElementById('startChatButton').style.display = 'none';

            // Display the initial message
            const initialMessage = `Hello, welcome in {{ restaurant_name.replace('_', ' ') }}.<br><br> Please, type in the message to make the order, I will provide you with the best service possible.<br><br>Feel free to check out our restaurant's story and menu <a href="{{ url_for("show_restaurant_profile_public", unique_azz_id=unique_azz_id) }}" style="color:#e9e9e9" target="_blank"><u>here.</u></a>`;
            appendMessage(initialMessage, 'assistant');
            
            // Enable the message input and send button
            document.getElementById('userMessage').disabled = false;
            document.querySelector('button[onclick="sendMessage()"]').disabled = false;
        });
    }

    window.startConversation = startConversation;

    function sendMessage() {
        const userMessage = document.getElementById('userMessage').value;
        console.log("Send button clicked");
        console.log("User message:", userMessage);
        if (userMessage.trim() === '') {
            console.log("Empty message, not sending.");
            return; // Prevent sending empty messages
        }

        // Display the user's message immediately in the chat
        appendMessage(userMessage, 'user');

        // Show the spinner and disable input
        const spinner = document.getElementById('spinner');
        const userMessageInput = document.getElementById('userMessage');
        const sendButton = document.querySelector('button[onclick="sendMessage()"]');

        if (spinner) spinner.style.display = 'block';
        if (userMessageInput) userMessageInput.disabled = true;
        if (sendButton) sendButton.disabled = true;

        const unique_azz_id = "{{ unique_azz_id }}";

        fetch(`/generate_response/${unique_azz_id}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ message: userMessage, thread_id: currentThreadId, assistant_id: currentAssistantId })
        })
        .then(response => response.json())
        .then(data => {
            if (data.order_formed) {
                // Display the final response and instructions for checkout
                appendMessage(data.response_llm, 'assistant');
                appendMessage("Press here to proceed", 'system');
                // Disable the message input and send button
                document.getElementById('userMessage').disabled = true;
                document.querySelector('button[onclick="sendMessage()"]').disabled = true;
                // document.getElementById('chatBox').innerHTML += '<p><strong>Order complete. Please proceed to checkout.</strong></p>';
            } else if (data.response_llm.includes("/payment_buffer")) {
               // Display the final response and instructions for checkout
               appendMessage(data.response_llm, 'assistant');  

               // Disable the message input and send button
               document.getElementById('userMessage').disabled = true;
               document.querySelector('button[onclick="sendMessage()"]').disabled = true;
               document.getElementById('chatBox').innerHTML += '<p><strong>Order complete. Please proceed to checkout.</strong></p>';
            }
            
            else {
                // Display the assistant's response when it is received
                appendMessage(data.response_llm, 'assistant');
                // Re-enable the message input and send button
                document.getElementById('userMessage').disabled = false;
                document.querySelector('button[onclick="sendMessage()"]').disabled = false;
            }
            // Hide the spinner
            if (spinner) spinner.style.display = 'none';
            if (userMessageInput) userMessageInput.value = ''; // Clear input after sending
        })
        .catch(error => {
            console.error("Error:", error);
            // Hide the spinner in case of error
            if (spinner) spinner.style.display = 'none';
            if (userMessageInput) userMessageInput.disabled = false;
            if (sendButton) sendButton.disabled = false;
        });
    }

    window.sendMessage = sendMessage;

    function appendMessage(message, sender) {
    
        // Disable the message input and send button initially

    // Handle the /payment_buffer logic based on the iframe condition
    if (message.includes("/payment_buffer")) {
        const isIframeRaw = "{{ iframe }}";
        let isIframe = isIframeRaw === "True";

        console.log('Entered includes payment buffer loop');

        if (isIframe) {
            let clickable_link = `<a href="${message}" style="color: #00ffff;" target="_blank">Press here to proceed.</a>`;
            message = `Order formed successfully. Please, follow this link to finish the purchase: ${clickable_link}`;
        } else {
            window.location.href = message;
            return; // Exit function early after setting the window location
        }
    }

    const messageDiv = document.createElement('div');
    messageDiv.style.cssText = 'margin: 10px; padding: 10px; border-radius: 10px;';
    console.log("Opened appendMessage function");

    // Convert markdown to HTML
    try {
        const htmlContent = marked.parse(message); // Use marked.parse() function
        messageDiv.innerHTML = htmlContent;
    } catch (error) {
        console.error("Marked conversion error:", error);
        messageDiv.textContent = message; // Fallback to plain text if marked fails
    }

    if (sender === 'user') {
        messageDiv.style.backgroundColor = '#e5e5e5'; // Light grey for user messages
        messageDiv.style.textAlign = 'left';
    } else if (sender === 'assistant') {
        messageDiv.style.backgroundColor = '#000000'; // Dark for assistant messages
        messageDiv.style.color = 'white';
        messageDiv.style.textAlign = 'right';
    } else if (sender === 'system') {
        messageDiv.style.backgroundColor = '#4CAF50'; // Green for system messages
        messageDiv.style.color = 'white';
        messageDiv.style.textAlign = 'center'; // Center system messages
    }

    document.getElementById('chatBox').appendChild(messageDiv);

    // Scroll to the bottom of the chatBox
    scrollToBottom();
}

function scrollToBottom() {
    const chatBox = document.getElementById('chatBox');
    chatBox.scrollTop = chatBox.scrollHeight;
}

    window.scrollToBottom = scrollToBottom;
    window.appendMessage = appendMessage;
    

    // Hide flash messages after 5 seconds
    var flashMessages = document.querySelector('.flash-messages');
    if (flashMessages) {
        setTimeout(function() {
            flashMessages.style.display = 'none';
        }, 5000);
    }
};
</script>

{% endblock %}

