{% block content %}


<h2 style="text-align: center; font-family: Arial, sans-serif; color: #000; margin-bottom: 10px;">Restaurant Profile</h2>
<h3><a href="{{ url_for('show_restaurant_profile_public', unique_azz_id=unique_azz_id) }}" target="_blank"><u>See {{ restaurant.name.replace("_", " ") }} public profile on MOM AI</u></a></h3><br>
<table style="border-collapse: collapse; width: 100%; font-family: Arial, sans-serif;">
    <tr style="background-color: #f2f2f2; border: 1px solid #ddd;">
        <th style="border: 1px solid #ddd; padding: 12px; text-align: left;">Attribute</th>
        <th style="border: 1px solid #ddd; padding: 12px; text-align: left;">Current Value</th>
        <th style="border: 1px solid #ddd; padding: 12px; text-align: left;">Action</th>
    </tr>
    <!--
    <tr style="border: 1px solid #ddd;">
        <td style="border: 1px solid #ddd; padding: 12px;">Name</td>
        <td style="border: 1px solid #ddd; padding: 12px;">{{ restaurant.name.replace("_", " ") }}</td>
        <td style="border: 1px solid #ddd; padding: 12px;"><a href="{{ url_for('update_profile', attribute='name') }}" target="_blank" style="color: #000; text-decoration: none;"><u>Edit</u></a></td>
    </tr>
    -->
    <tr style="background-color: #f9f9f9; border: 1px solid #ddd;">
        <td style="border: 1px solid #ddd; padding: 12px;">Website URL</td>
        <td style="border: 1px solid #ddd; padding: 12px;">{{ restaurant.website_url }}</td>
        <td style="border: 1px solid #ddd; padding: 12px;"><a href="{{ url_for('update_profile', attribute='website_url') }}" target="_blank" style="color: #000; text-decoration: none;"><u>Edit</u></a></td>
    </tr>
    <tr style="background-color: #f9f9f9; border: 1px solid #ddd;">
        <td style="border: 1px solid #ddd; padding: 12px;">Logo <i>(square recommended)</i></td>
        <td style="border: 1px solid #ddd; padding: 12px;"><img src="{{ url_for('serve_image', file_id=restaurant.res_logo) }}" alt="Restaurant Logo" style="max-height: 50px; max-width: 100px;"></td>
        <td style="border: 1px solid #ddd; padding: 12px;"><a href="{{ url_for('update_profile', attribute='image') }}" target="_blank" style="color: #000; text-decoration: none;"><u>Edit</u></a></td>
    </tr>
    <tr style="background-color: #f9f9f9; border: 1px solid #ddd;">
        <td style="border: 1px solid #ddd; padding: 12px;">Description(displayed on profile)</td>
        <td style="border: 1px solid #ddd; padding: 12px;">{{ restaurant.get('description') or 'Default Description' }}</td>
        <td style="border: 1px solid #ddd; padding: 12px;"><a href="{{ url_for('update_profile', attribute='description') }}" target="_blank" style="color: #000; text-decoration: none;"><u>Edit</u></a></td>
    </tr>
    <!-- Skip adding paypal for now
    <tr style="background-color: #f9f9f9; border: 1px solid #ddd;">
        <td style="border: 1px solid #ddd; padding: 12px;">Add PayPal Account details</td>
        <td style="border: 1px solid #ddd; padding: 12px;"></td>
        <td style="border: 1px solid #ddd; padding: 12px;"><a href="{{ url_for('update_profile', attribute='pp_account') }}" target="_blank" style="color: #000; text-decoration: none;"><u>Edit</u></a></td>
    </tr>
    -->
    <tr style="border: 1px solid #ddd;">
        <td colspan="3" style="border: 1px solid #ddd; text-align: center; padding: 12px; background-color: #f2f2f2;"><h3 style="margin: 0; color: #000;">Notifications</h3></td>
    </tr>
    <tr style="border: 1px solid #ddd;">
        <td style="border: 1px solid #ddd; padding: 12px;">Connected Chats (<a href="https://t.me/mom_ai_rest_bot" target="_blank" style="color: #00796b; text-decoration: underline;">get the code here<img src="https://upload.wikimedia.org/wikipedia/commons/8/82/Telegram_logo.svg" alt="Telegram Logo" style="width: 20px; height: 20px; vertical-align: middle;"></a>)</td>
        <td style="border: 1px solid #ddd; padding: 12px;">Amount of Connected Chats: {{ connected_chats }}</td>
        <td style="border: 1px solid #ddd; padding: 12px;"><a href="{{ url_for('update_profile', attribute='notif_destin') }}" target="_blank" style="color: #000; text-decoration: none;"><u>Add a new recipient</u></a></td>
    </tr>
    <tr style="border: 1px solid #ddd;">
        <td colspan="3" style="border: 1px solid #ddd; text-align: center; padding: 12px; background-color: #f2f2f2;"><h3 style="margin: 0; color: #000;">Set Working Hours</h3></td>
    </tr>
    <tr style="background-color: #f9f9f9; color: #000;">
        <td style="padding: 12px; border: 1px solid #ddd;">Set Working Hours</td>
        <td style="padding: 12px; border: 1px solid #ddd;">Existing Schedule</td>
        <td style="border: 1px solid #ddd; padding: 12px;"><a href="{{ url_for('set_working_hours') }}" target="_blank" style="color: #000; text-decoration: none;"><u>Edit</u></a></td>
    </tr>
</table>

{% endblock %}
