{% extends "layout_no_land.html" %}

{% block content %}
<h1>Account and Assistant Creation Successful</h1>
<p>Dear <strong>{{ restaurant_name }}</strong> representative,</p>
<p><br>We are excited to inform you that your account and assistant have been successfully created!</p>
<p>Access to your assistant will be open in mid-June. You will receive a notification email at <strong>{{ restaurant_email }}</strong> with further details.</p>
<p><br>Thank you for choosing MOM AI. We look forward to enhancing your ordering experience with our AI-powered solutions.</p>
<p><br>Best regards,</p>
<p>The <strong>MOM AI Team</strong></p>
{% endblock %}
