{% extends "layout.html" %}


{% block head %}
<title>Best AI-empowered Restaurants in {{ search_query }} | MOM AI Restaurant Search</title>
<meta name="description" content="Discover the best AI-empowered restaurants in {{ search_query }} with MOM AI's search tool. Find locations, menus, and order food easily.">
<link rel="canonical" href="https://mom-ai-restaurant.pro/ai-restaurants?location={{ search_query }}" />
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Restaurant",
  "name": "MOM AI Restaurant Search",
  "url": "https://mom-ai-restaurant.pro/ai-restaurants?location={{ search_query }}"
}
</script>
{% endblock %}

{% block content %}
<div id="instructions" style="border-top: 1px solid black; font-family: Arial, sans-serif; max-width: 800px; margin: 20px auto; padding: 20px; background-color: #f9f9f9; border-radius: 8px;">
    <h1 style="visibility: hidden; position: absolute; left: -9999px;">Discover Top AI Restaurants in {{ search_query }}</h1>
    <p style="visibility: hidden; position: absolute; left: -9999px;">Welcome to MOM AI's comprehensive search tool for finding the best AI-powered restaurants in {{ search_query }}. Whether you're looking for fine dining, casual eateries, or takeout options, our platform helps you find and order from the top restaurants in {{ search_query }}.</p>
    <h2 style="visibility: hidden; position: absolute; left: -9999px;">Search and Order from the Best Restaurants in {{ search_query }}</h2>
    
    {% if search_query %}
    <h2 style="text-align: center; margin-top: 20px; color: #2c3e50;">The List of AI-Empowered Restaurants in<br>{{ search_query }}</h2>
    {% else %}
    <h2 style="text-align: center; margin-top: 20px; color: #2c3e50;">The List of AI-Empowered Restaurants</h2>
    {% endif %}

    <!-- Radius Search Input -->
    <div style="text-align: center; margin-bottom: 20px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <label for="radius-select">Show restaurants within:</label>
        <select id="radius-select" style="padding: 10px; border-radius: 5px; border: 1px solid #ccc; margin-top: 5px;" onchange="updateButtonLabel()">
            <option value="5" {% if current_radius == '5' or current_radius is none %}selected{% endif %}>5 km</option>
            <option value="10" {% if current_radius == '10' %}selected{% endif %}>10 km</option>
            <option value="20" {% if current_radius == '20' %}selected{% endif %}>20 km</option>
            <option value="50" {% if current_radius == '50' %}selected{% endif %}>50 km</option>
        </select>

        <!-- Button to show restaurants in the selected radius -->
        <button id="radius-button" onclick="findRestaurantsInRadius()" style="margin-top: 10px; padding: 10px 20px;">
            Show Restaurants in {{ current_radius or '5' }} km Radius Around Me
        </button>

        {% if current_radius %}
        <h3 style="margin-top: 7px; border: black solid 1px;"> <u>*Showing the restaurants in {{ current_radius }} kilometers from you </u></h3>
        <button onclick="clearSearchCriteria()" style="margin-top: 7px;">Clear the filter</button>
        {% endif %}

        <script>
            function updateButtonLabel() {
                const radius = document.getElementById('radius-select').value;
                const button = document.getElementById('radius-button');
                button.textContent = `Show Restaurants in ${radius} km Radius Around Me`;
            }
            function clearSearchCriteria() {
                window.location.href = "/ai-restaurants";
            }
        </script>
    </div>


    <p style="text-align: center; color: #7f8c8d; margin-top: 3px;">Learn more and click on 'Order Food Now' to make the order with AI:</p>

    <!--
    <h3 style="text-align: center;">Filter by location</h3>
    <div style="text-align: center; margin-bottom: 20px; display: flex; justify-content: center; align-items: center; flex-direction: column;">
        <div style="display: flex; align-items: center; justify-content: flex-start; width: 100%; max-width: 400px;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bd/Google_Maps_Logo_2020.svg/512px-Google_Maps_Logo_2020.svg.png" style="height:40px; width: auto; margin-right: 10px;">
            <input id="location-input" type="text" placeholder="Enter a location" value="{{ search_query }}" style="width: 100%; padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
        </div>
        <button onclick="searchRestaurants()" style="margin-top: 10px; padding: 10px 20px;">Search</button>
    </div>
    -->

    <div class="grid-container">
        {% for restaurant in restaurants %}
        <div class="grid-item">
            <h3>{{ restaurant.name.replace("_", " ") }}</h3>
            {% if restaurant.isOpen and restaurant.assistant_turned_on %}
                <p style="color:#00ff00"><strong>Open</strong></p>
            {% elif restaurant.isOpen and not restaurant.assistant_turned_on %}
                <p style="color:brown"><strong>AI-Assistant Paused</strong></p>
            {% else %}
                <p style="color:#ff0000"><strong>Currently Closed</strong></p>
            {% endif %}
            <!-- Logo display -->
            <div class="restaurant-logo" style="text-align: center; margin-bottom: 10px;">
                <img src="{{ url_for('serve_image', file_id=restaurant.res_logo or '666af654dee400a1d635eb08') }}" alt="Restaurant Logo" class="restaurant-logo-img">
            </div>
            {% if restaurant.website_url != 'No URL provided' %}
               <p><a href="{{ restaurant.website_url }}" style="color: #0000ff;" target="_blank">Visit the website</a></p>
            {% else %}
            <p>No URL Provided</p>
            {% endif %}
            {% if restaurant.paymentGatewayTurnedOn %}
            <p>You <u>pay online</u></p>
                {% if restaurant.addFees %}
                <p><i><u>You</u> cover extra fees</i></p>
                {% else %}
                <p><i><u>Restaurant</u> covers extra fees</i></p>
                {% endif %}
            {% else %}
            <p>You will <u>pay in-store</u></p>
            {% endif %}
            <p><b>Location:</b></p>
            <p style="font-size: 13px;"><b>{{ restaurant.location_name }}</b></p>
            <p><a href="https://www.google.com/maps/search/?api=1&query={{ restaurant.get('location_name') }}" target="_blank" style="color: #0000ff; margin-bottom: 10px;">View on the Map</a></p>

            <p style="padding-bottom: 7px"><a href="/restaurant/{{ restaurant.unique_azz_id }}" target="_blank"><button>Visit Profile</button></a></p>
            
            <p><a href="/assistant_order_chat/{{ restaurant.unique_azz_id }}" target="_blank"><button>Order Food Now</button></a></p>
        </div>
        {% endfor %}
    </div>

    <div class="pagination" style="text-align: center; margin-top: 20px;">
        {% if page > 1 %}
        <a href="{{ url_for('market_dashboard', page=page-1, location=search_query) }}" style="margin-right: 10px; text-decoration: none; color: #007bff; font-weight: bold;">Previous</a>
        {% endif %}
        <span style="padding: 0 10px; font-weight: bold;">Page {{ page }} of {{ (total // per_page) + 1 }}</span>
        {% if (page * per_page) < total %}
        <a href="{{ url_for('market_dashboard', page=page+1, location=search_query) }}" style="margin-left: 10px; text-decoration: none; color: #007bff; font-weight: bold;">Next</a>
        {% endif %}
    </div>
</div>

<style>
    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .grid-item {
        border: 1px solid #ccc;
        padding: 10px;
        border-radius: 5px;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .restaurant-logo-img {
        height: 137px;
        width: auto;
        max-width: 200px;
        max-height: 200px;
    }

    @media (max-width: 768px) {
        .grid-container {
            grid-template-columns: 1fr;
        }
    }
</style>

<script>
    function initAutocomplete() {
        const input = document.getElementById('location-input');
        const autocomplete = new google.maps.places.Autocomplete(input);
    }

    function searchRestaurants() {
        const locationInput = document.getElementById('location-input').value;
        const url = new URL(window.location.href);
        url.searchParams.set('location', locationInput);
        window.location.href = url.href;
    }

    function findRestaurantsInRadius() {
    const radius = document.getElementById('radius-select').value;

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
            const userLat = position.coords.latitude;
            const userLng = position.coords.longitude;
            
            const url = new URL(window.location.href);
            url.searchParams.set('radius', radius);
            url.searchParams.set('user_lat', userLat);
            url.searchParams.set('user_lng', userLng);
            window.location.href = url.href;
            console.log("Setup URL successfully!")
        }, function(error) {
            // alert('Error retrieving your location. Please try again.');
        });
    } else {
        alert('Geolocation is not supported by this browser.');
    }
}


</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places&callback=initAutocomplete" async defer></script>
{% endblock %}

