{% extends "layout_dashboard.html" %}

{% block content %}
    <div class="restaurant-profile">
        <div class="profile-left">
            <div class="profile-header">
                <img src="{{ url_for('serve_image', file_id=restaurant['res_logo']) }}" alt="{{ restaurant['name'] }} Logo" class="restaurant-logo" />
                <h1>{{ restaurant['name'].replace("_", " ") }}</h1>
                {% if restaurant.isOpen and restaurant.assistant_turned_on %}
                    <p style="color:#00ff00"><strong>Open</strong></p>
                {% elif restaurant.isOpen and not restaurant.assistant_turned_on %}
                    <p style="color:brown"><strong>AI-Assistant Paused</strong></p>
                {% else %}
                    <p style="color:#ff0000"><strong>Currently Closed</strong></p>
                {% endif %}
                {% if restaurant.website_url != 'No URL provided' %}
                <p><a href="{{ restaurant.website_url }}" style="color: #0000ff;" target="_blank">Visit the website of {{ restaurant['name'].replace("_", " ") }}</a></p>
                {% else %}
                <p>No URL Provided</p>
                {% endif %}
                <div class="assistant-section-mobile">
                    <a href="/assistant_order_chat/{{ restaurant.unique_azz_id }}" target="_blank"><button class="ai-button">Take the order with AI</button></a>
                </div>
                <h3><a href="https://www.google.com/maps?q={{ latitude }},{{ longitude }}" target="_blank">See Location</a></h3>
                <p>{{ restaurant.location_name }}</p>
                <!-- Map container -->
                <div id="map"></div>
                <p style="margin-top: 7px;">
                    <a href="/ai-restaurants" id="back-button"><u><- All AI-restaurants</u></a>
                </p>
            </div>
        </div>
        <div class="profile-right">
            {% if not restaurant.profile_visible %}
            <h1 style="background-color: #ddd;">The profile is not displayed to the customers. To change it toggle profile visibility on the dashboard</h1>
            {% endif %}
            <div class="description">
                <h2>Description of AI-empowered Restaurant {{ restaurant['name'].replace("_", " ") }}</h2>
                <p>{{ restaurant['description'] or "The best restaurant embracing the future with AI-implementation and just serving an awesome food"}}</p>
            </div>
            <div class="assistant-section">
                <a href="/assistant_order_chat/{{ restaurant.unique_azz_id }}" target="_blank"><button class="ai-button">Make the AI-order</button></a>
            </div>

            <div class="working-hours">
                <h2 style="margin-top: 15px;">Working Hours (Timezone: <a id="timeLink" href="https://time.is/{{ restaurant.timezone.replace('Etc/', '').replace('+0', '') }}" target="_blank">{{ restaurant.timezone.replace("Etc/", "") }}</a>)</h2>
                <table style="border-collapse: collapse; width: 100%; font-family: Arial, sans-serif;">
                    <tr style="background-color: #f2f2f2; border: 1px solid #ddd;">
                        <th style="border: 1px solid #ddd; padding: 12px; text-align: left;">Day</th>
                        <th style="border: 1px solid #ddd; padding: 12px; text-align: left;">Hours</th>
                    </tr>
                    {% set days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %}
                    {% for i in range(7) %}
                    <tr style="border: 1px solid #ddd;">
                        <td style="border: 1px solid #ddd; padding: 12px;">{{ days[i] }}</td>
                        {% if start_working_hours[i] != "777:00" %}
                        <td style="border: 1px solid #ddd; padding: 12px;">{{ start_working_hours[i] }} - {{ end_working_hours[i] }}</td>
                        {% else %}
                        <td style="border: 1px solid #ddd; padding: 12px;"><b>DAY OFF</b></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>

            <!-- Reviews Section -->
            <div class="reviews">
                <h2>Submit a Review</h2>
                
                {% if there_are_reviews %}
                    <p style="color: #808080"><i>(and get 50 MOM tokens easily after this 15-seconds web3 wallet connection)</i></p>
                {% else %}
                    <p style="color: #808080"><i>(and get <s> 50</s> <b>150 MOM tokens</b> easily for being the first review)</i></p>    
                {% endif %}
    
                <div style="text-align: center; margin-bottom: 20px;">
                    <button id="connectWalletButton" style="padding: 10px 20px; background-color: #000; color: white; border: none; border-radius: 5px;">Connect Web3 Wallet</button>
                    <p id="walletAddress" style="margin-top: 10px; color: #2c3e50;"></p>
                </div>

                <form id="review-form">
                    <label for="order-id">Order ID:</label>
                    <input placeholder="Provide the ID of your order in this restaurant" type="text" id="order-id" name="order_id" required><br><br>
                    <label for="person-name">Your Name:</label>
                    <input placeholder="Type in your name here or leave empty to stay anonymous" type="text" id="person-name" name="person_name" minlength="3" maxlength="40"><br><br>
                    <label for="review">Review (max 300 characters):</label><br>
                    <textarea id="review" name="review" rows="4" cols="50" maxlength="300" required></textarea><br>
                    <!-- Star Rating Section -->
                    <label for="rating">Rating:</label><br>
                    <div class="star-rating">
                        <input type="radio" id="star5" name="rating" value="10" required /><label for="star5" title="5 stars"></label>
                        <input type="radio" id="star4.5" name="rating" value="9" /><label for="star4.5" title="4.5 stars"></label>
                        <input type="radio" id="star4" name="rating" value="8" /><label for="star4" title="4 stars"></label>
                        <input type="radio" id="star3.5" name="rating" value="7" /><label for="star3.5" title="3.5 stars"></label>
                        <input type="radio" id="star3" name="rating" value="6" /><label for="star3" title="3 stars"></label>
                        <input type="radio" id="star2.5" name="rating" value="5" /><label for="star2.5" title="2.5 stars"></label>
                        <input type="radio" id="star2" name="rating" value="4" /><label for="star2" title="2 stars"></label>
                        <input type="radio" id="star1.5" name="rating" value="3" /><label for="star1.5" title="1.5 stars"></label>
                        <input type="radio" id="star1" name="rating" value="2" /><label for="star1" title="1 star"></label>
                        <input type="radio" id="star0.5" name="rating" value="1" /><label for="star0.5" title="0.5 star"></label>
                    </div><br>

                    <button type="submit" class="ai-button">Submit Review</button>
                </form>
                
                <div id="response-message" style="margin-top: 20px;"></div>

                <!--
                <div id="walletModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <p>Your wallet is not connected. Would you like to connect your wallet to receive MOM tokens?</p>
                        <button id="confirmConnectWallet" class="ai-button">Yes, Connect Wallet</button>
                        <button id="cancelConnectWallet" class="ai-button">No, Submit Without Wallet</button>
                    </div>
                </div>
                -->
                
                <script>
                let walletAddress = null;

                document.getElementById('review-form').addEventListener('submit', async function(event) {
                    event.preventDefault(); // Prevent the default form submission

                    // Check if wallet is connected
                    if (!walletAddress) {
                        document.getElementById('walletModal').style.display = 'block';
                    } else {
                        submitReview();
                    }
                });
                /*
                document.getElementById('confirmConnectWallet').addEventListener('click', async function() {
                    await connectWallet();
                    document.getElementById('walletModal').style.display = 'none';
                    submitReview();
                });

                document.getElementById('cancelConnectWallet').addEventListener('click', function() {
                    document.getElementById('walletModal').style.display = 'none';
                    submitReview();
                });
                */

                function submitReview() {
                    const orderId = document.getElementById('order-id').value;
                    const review = document.getElementById('review').value;
                    const person_name = document.getElementById('person-name').value || "Anonymous";
                    const rating = document.querySelector('input[name="rating"]:checked').value;
                
                    const unique_azz_id = "{{ unique_azz_id }}";
                
                    const data = {
                        order_id: orderId,
                        review_text: review,
                        name: person_name,
                        rating: rating,
                        unique_azz_id: unique_azz_id,
                        wallet_address: walletAddress // Include the wallet address if available
                    };
                
                    fetch('/submit_review', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                    .then(response => response.json())
                    .then(data => {
                        const responseMessageDiv = document.getElementById('response-message');
                        if (data.success) {
                            responseMessageDiv.innerHTML = data.message;
                        } else {
                            responseMessageDiv.innerHTML = `<p style="color: red;">${data.message}</p>`;
                        }
                    })
                    .catch((error) => {
                        console.error('Error:', error);
                        const responseMessageDiv = document.getElementById('response-message');
                        responseMessageDiv.innerHTML = `<p style="color: red;">An error occurred while submitting the review. Please try again later.</p>`;
                    });
                }
                
                
                // Web3 Wallet Connection
                async function connectWallet() {
                    if (window.ethereum) {
                        try {
                            const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
                            walletAddress = accounts[0];
                            document.getElementById('walletAddress').innerHTML = `<p style="font-size:17px">Connected Wallet: ${walletAddress}<br>Congratulations! Your Wallet Has Been Connected - Leave Review and Get MOM Tokens</p>`;
                            document.getElementById('connectWalletButton').style.display = 'none';
                        } catch (error) {
                            console.error('User rejected the request.');
                        }
                    } else {
                        alert('Please install MetaMask to connect your wallet.');
                    }
                }

                document.getElementById('connectWalletButton').addEventListener('click', connectWallet);

                // Modal handling
                const modal = document.getElementById("walletModal");
                const span = document.getElementsByClassName("close")[0];

                span.onclick = function() {
                    modal.style.display = "none";
                }

                window.onclick = function(event) {
                    if (event.target == modal) {
                        modal.style.display = "none";
                    }
                }
                
                </script>
                
                <style>
                .star-rating {
                    direction: rtl;
                    display: inline-flex;
                    font-size: 1.5rem;
                    justify-content: space-around;
                    padding: 0;
                    position: relative;
                    width: 10rem;
                    margin-left: 107px;
                }
                .star-rating input {
                    display: none;
                }
                .star-rating label {
                    color: #ddd;
                    cursor: pointer;
                    font-size: 2rem;
                    margin: 0;
                    padding: 0;
                    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
                }
                .star-rating label:before {
                    content: '\2605';
                    display: inline-block;
                    position: relative;
                }
                .star-rating input:checked ~ label {
                    color: #ffc700;
                }
                .star-rating input:hover ~ label {
                    color: #ffc700;
                }

                /* Modal styling */
                .modal {
                    display: none;
                    position: fixed;
                    z-index: 1;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    overflow: auto;
                    background-color: rgb(0,0,0);
                    background-color: rgba(0,0,0,0.4);
                    padding-top: 60px;
                }

                .modal-content {
                    background-color: #fefefe;
                    margin: 5% auto;
                    padding: 20px;
                    border: 1px solid #888;
                    width: 80%;
                    max-width: 400px;
                    text-align: center;
                    border-radius: 10px;
                }

                .close {
                    color: #aaa;
                    float: right;
                    font-size: 28px;
                    font-weight: bold;
                }

                .close:hover,
                .close:focus {
                    color: black;
                    text-decoration: none;
                    cursor: pointer;
                }
                </style>
                
                
                
            </div>
            
            <hr>

            <!-- Display Reviews -->
<div class="display-reviews">
    {% if there_are_reviews %}
        <h2 style="margin-bottom: 10px;">Customer Reviews</h2>
        {% for review in reviews %}
            <div class="review-card">
                <p class="review-text">"{{ review.text }}"</p>
                <p class="review-person"><strong>{{ review.person }}</strong> - Order ID: {{ review.order_id[:4] }}***</p>
                <div class="star-rating">
                    {% set filled_stars = review.rating %}
                    {% set empty_stars = 10 - review.rating %}

                    <!-- Render empty stars -->
                    {% for i in range(empty_stars) %}
                    <span class="star empty">&#9733;</span>
                    {% endfor %}

                    <!-- Render filled stars -->
                    {% for i in range(filled_stars) %}
                    <span class="star filled">&#9733;</span>
                    {% endfor %}
                    
                    
                </div>
                <p>{{review.rating}}/10</p>
            </div>
            
            </div>
            {% endfor %}
    {% else %}
        <h2>No Customer Reviews Yet</h2>
        <h3>Be the first one and get bonus!</h3>
    {% endif %}
</div>

<style>
.review-card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.review-text {
    font-size: 16px;
    color: #333;
}
.review-person {
    font-size: 14px;
    color: #777;
    margin-top: 5px;
}

/* Star Rating */
.star-rating {
    display: flex;
    align-items: center;
}
.star {
    font-size: 20px;
    color: #ddd;
    margin-right: 2px;
}
.star.filled {
    color: #ffc700;
}
.star.half-filled {
    position: relative;
    color: #ffc700;
}
.star.half-filled::before {
    content: '\2605';
    color: #ddd;
    position: absolute;
    width: 50%;
    overflow: hidden;
}
</style>


            <hr>
            {% if menu_images %}
            
            <!-- Header for the image grid -->
            <h2 style="text-align: center;">Menu Pictures</h2>

            <!-- Image grid (2x2) -->
            <div style="display: grid; grid-template-columns: repeat(2, 1fr); gap: 10px;">
                {% for image_url in menu_images %}
                    <div style="position: relative;">
                        <img src="{{ image_url }}" alt="Menu Image" style="width: 100%; height: auto; cursor: pointer;" onclick="openModal('{{ image_url }}')">
                    </div>
                {% endfor %}
            </div>

            <!-- Fullscreen modal -->
            <div id="imageModal" style="display: none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.8); justify-content: center; align-items: center;">
                <span style="position: absolute; top: 20px; right: 40px; font-size: 30px; color: white; cursor: pointer;" onclick="closeModal()">&times;</span>
                <img id="modalImage" src="" style="max-width: 90%; max-height: 90%; margin: auto; display: block;">
            </div>

            <script>
                // Open modal and display the clicked image fullscreen
                function openModal(imageUrl) {
                    var modal = document.getElementById("imageModal");
                    var modalImage = document.getElementById("modalImage");
                    modalImage.src = imageUrl;
                    modal.style.display = "flex";
                }

                // Close the modal
                function closeModal() {
                    var modal = document.getElementById("imageModal");
                    modal.style.display = "none";
                }
            </script>

            <hr>
            {% endif %}


            <div class="mt-4">
                <div class="menu-content table-responsive">
                    <table id="menuTable" border="1" class="dataframe table table-striped">
                        <thead>
                          <tr style="text-align: right;">
                            <th>Item Name</th>
                            <th>Item Description</th>
                            <th>Item Price (EUR)</th>
                            <th>Image</th>
                          </tr>
                        </thead>
                        <tbody>
                            {% for item in html_menu_tuples %}
                            <tr>
                              <td contenteditable="false" data-column="Item Name">{{ item["Item Name"] }}</td>
                              <td contenteditable="false" data-column="Item Description">{{ item["Item Description"] }}</td>
                              <td contenteditable="false" data-column="Item Price (EUR)">{{ item["Item Price (EUR)"] }}</td>
                              <td contenteditable="false" data-column="Image"><img src="{{ item['Link to Image'] }}" alt="Image of {{ item['Item Name'] }}" width="170" height="auto"></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Reviews will be here -->

    <style>
        /* Ensure the map takes up the full width and height of its container */
        #map {
            height: 300px;
            width: 100%;
            border: solid black 3px;
        }
        .restaurant-profile {
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            max-width: 1200px;
            margin: 0 auto;
            font-family: Arial, sans-serif;
        }
        .profile-left {
            flex: 1;
            max-width: 300px;
            padding-right: 20px;
        }
        .profile-right {
            flex: 2;
            padding-left: 20px;
        }
        .profile-header {
            text-align: center;
        }
        .restaurant-logo {
            max-width: 250px;
            height: auto;
            display: block;
            margin: 0 auto;
        }
        .website a, .location a {
            color: #3498db;
            text-decoration: none;
        }
        .website a:hover, .location a:hover {
            text-decoration: underline;
        }
        .description, .menu, .assistant-section, .reviews {
            margin-top: 20px;
        }
        .assistant-section-mobile {
            display: none;
        }
        .ai-button {
            font-size: 18px;
            padding: 10px 20px;
        }

        @media (max-width: 768px) {
            .restaurant-profile {
                flex-direction: column;
            }
            .profile-left, .profile-right {
                max-width: 100%;
                padding: 0;
            }
            .profile-left {
                margin-bottom: 20px;
            }
            .assistant-section {
                display: none;
            }
            .assistant-section-mobile {
                display: block;
                margin-top: 10px;
            }
        }
        .display-reviews {
            margin-top: 20px;
        }
        .review-card {
            border: 1px solid #ddd;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            background-color: #f9f9f9;
        }
        .review-text {
            font-size: 16px;
            color: #333;
        }
        .review-person {
            font-size: 14px;
            color: #777;
            margin-top: 5px;
        }
    
        /* Modal styling */
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
        }

        .modal-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 400px;
            text-align: center;
            border-radius: 10px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
    <!-- Include Google Maps JavaScript API with Places library -->
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places&callback=initMap" async defer></script>

<script>
    const latitude = {{ latitude }};
    const longitude = {{ longitude }};
    const restik_coords = {"lat": latitude, "lng": longitude};

    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            center: restik_coords, // Initial map center
            zoom: 17, // Initial zoom level
        });

        const marker = new google.maps.Marker({
            map,
            position: restik_coords
        });
    }

    document.addEventListener("DOMContentLoaded", function() {
        const menuContent = document.getElementById("menu-content");
        const showMoreButton = document.getElementById("show-more-button");

        // Assuming the menu items are in a list or table format
        const menuItems = menuContent.querySelectorAll("tr");
        if (menuItems.length > 3) {
            showMoreButton.style.display = "block"; // Show the "Show More" button
        }

        // Hide menu items beyond the first 3
        for (let i = 3; i < menuItems.length; i++) {
            menuItems[i].style.display = "none";
        }

        showMoreButton.addEventListener("click", function() {
            const isExpanded = showMoreButton.innerText === "Show Less";
            for (let i = 3; i < menuItems.length; i++) {
                menuItems[i].style.display = isExpanded ? "none" : "table-row";
            }
            showMoreButton.innerText = isExpanded ? "Show More" : "Show Less";
        });
    });

    /*
    // Web3 Wallet Connection
    async function connectWallet() {
        if (window.ethereum) {
            try {
                const accounts = await window.ethereum.request({ method: 'eth_requestAccounts' });
                walletAddress = accounts[0];
                document.getElementById('walletAddress').innerHTML = `<p style="font-size:17px">Connected Wallet: ${walletAddress}<br>Congratulations! Your Wallet Has Been Connected - Leave Review and Get MOM Tokens</p>`;
                document.getElementById('connectWalletButton').style.display = 'none';
            } catch (error) {
                console.error('User rejected the request.');
            }
        } else {
            alert('Please install MetaMask to connect your wallet.');
        }
    }

    document.getElementById('connectWalletButton').addEventListener('click', connectWallet);
    */
</script>
{% endblock %}
