{% extends "layout_no_land.html" %}

{% block content %}
    <div class="restaurant-profile">
        <div class="profile-left">
            <div class="profile-header">
                <img src="{{ url_for('serve_image', file_id=restaurant['res_logo']) }}" alt="{{ restaurant['name'] }} Logo" class="restaurant-logo" />
                <h1>{{ restaurant['name'].replace("_", " ") }}</h1>
                {% if restaurant.isOpen and restaurant.assistant_turned_on %}
                    <p style="color:#00ff00"><strong>Open</strong></p>
                {% elif restaurant.isOpen and not restaurant.assistant_turned_on %}
                    <p style="color:brown"><strong>AI-Assistant Paused</strong></p>
                {% else %}
                    <p style="color:#ff0000"><strong>Currently Closed</strong></p>
                {% endif %}
                {% if restaurant.website_url != 'No URL provided' %}
                <p><a href="{{ restaurant.website_url }}" style="color: #0000ff;" target="_blank">Visit the website of {{ restaurant['name'].replace("_", " ") }}</a></p>
                {% else %}
                <p>No URL Provided</p>
                {% endif %}
                <div class="assistant-section-mobile">
                    <a href="/assistant_order_chat/{{ restaurant.unique_azz_id }}" target="_blank"><button class="ai-button">Take the order with AI</button></a>
                </div>
                <h3>Location</h3>
                <p>{{ restaurant.location_name }}</p>
                <!-- Map container -->
                <div id="map"></div>
                <p style="margin-top: 7px;">
                    <a href="/ai-restaurants" id="back-button"><u><- All AI-restaurants</u></a>
                </p>
            </div>
        </div>
        <div class="profile-right">
            {% if not restaurant.profile_visible %}
            <h1 style="background-color: #ddd;">The profile is not diplayed to the customers. To change it toggle profile visibility on the dashboard</h1>
            {% endif %}
            <div class="description">
                <h2>Description</h2>
                <p>{{ restaurant['description'] or "The best restaurant embracing the future with AI-implementation and just serving an awesome food"}}</p>
            </div>
            <div class="assistant-section">
                <a href="/assistant_order_chat/{{ restaurant.unique_azz_id }}" target="_blank"><button class="ai-button">Take the order with AI</button></a>
            </div>
            <div class="working-hours">
                <h2 style="margin-top: 15px;">Working Hours (Timezone: <a id="timeLink" href="https://time.is/{{ restaurant.timezone.replace('Etc/', '').replace('+0', '') }}" target="_blank">{{ restaurant.timezone.replace("Etc/", "") }}</a>)</h2>
                <table style="border-collapse: collapse; width: 100%; font-family: Arial, sans-serif;">
                    <tr style="background-color: #f2f2f2; border: 1px solid #ddd;">
                        <th style="border: 1px solid #ddd; padding: 12px; text-align: left;">Day</th>
                        <th style="border: 1px solid #ddd; padding: 12px; text-align: left;">Hours</th>
                    </tr>
                    {% set days = ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"] %}
                    {% for i in range(7) %}
                    <tr style="border: 1px solid #ddd;">
                        <td style="border: 1px solid #ddd; padding: 12px;">{{ days[i] }}</td>
                        <td style="border: 1px solid #ddd; padding: 12px;">{{ start_working_hours[i] }} - {{ end_working_hours[i] }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="menu">
                <h2>Menu</h2>
                <div class="menu-content table-responsive">
                    {{ restaurant['html_menu']|safe or "Menu is expected soon" }}
                </div>
            </div>
        </div>
    </div>

    <!-- Reviews will be here -->

    <style>
        /* Ensure the map takes up the full width and height of its container */
        #map {
            height: 300px;
            width: 100%;
            border: solid black 3px;
        }
        .restaurant-profile {
            display: flex;
            flex-wrap: wrap;
            padding: 20px;
            max-width: 1200px;
            margin: 0 auto;
            font-family: Arial, sans-serif;
        }
        .profile-left {
            flex: 1;
            max-width: 300px;
            padding-right: 20px;
        }
        .profile-right {
            flex: 2;
            padding-left: 20px;
        }
        .profile-header {
            text-align: center;
        }
        .restaurant-logo {
            max-width: 250px;
            height: auto;
            display: block;
            margin: 0 auto;
        }
        .website a, .location a {
            color: #3498db;
            text-decoration: none;
        }
        .website a:hover, .location a:hover {
            text-decoration: underline;
        }
        .description, .menu, .assistant-section {
            margin-top: 20px;
        }
        .assistant-section-mobile {
            display: none;
        }
        .ai-button {
            font-size: 18px;
            padding: 10px 20px;
        }

        @media (max-width: 768px) {
            .restaurant-profile {
                flex-direction: column;
            }
            .profile-left, .profile-right {
                max-width: 100%;
                padding: 0;
            }
            .profile-left {
                margin-bottom: 20px;
            }
            .assistant-section {
                display: none;
            }
            .assistant-section-mobile {
                display: block;
                margin-top: 10px;
            }
        }
    </style>
    <!-- Include Google Maps JavaScript API with Places library -->
<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places&callback=initMap" async defer></script>

<script>
    const latitude = {{ latitude }};
    const longitude = {{ longitude }};
    const restik_coords = {"lat": latitude, "lng": longitude};

    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            center: restik_coords, // Initial map center
            zoom: 17, // Initial zoom level
        });

        const marker = new google.maps.Marker({
            map,
            position: restik_coords
        });
    }

</script>
{% endblock %}
